<app-page-datatable
    title="Cobranças"
    [serviceApi]="serviceApi"
    [columns]="columns"
    [tableActions]="tableActions"
    class="table-no-button breadcrumb"
    [breadcrumb]="breadcrumb"
></app-page-datatable>

<po-modal
    #modalCobranca
    p-title="Pagar Cobrança"
    [p-primary-action]="closeAction"
>
    <div class="po-row">
        <div class="po-md-6">
            <div class="img-modal">
                <img [src]="imagemCobranca" alt="Cobrança" />
            </div>
        </div>
        <div class="po-md-6 text-modal">
            <div class="po-row">
                <div class="po-md-12">
                    <h1>{{ titulo }}</h1>
                </div>
                <div class="po-md-12">
                    <h2 class="po-mb-2">
                        <span>Empresa</span>
                        <!-- adicionar router link para o nome -->
                        {{ nomeEmpresa }}
                    </h2>
                </div>
                <div class="po-md-6 po-mb-2">
                    <h3>
                        <span>Status</span>
                        {{ status }}
                    </h3>
                </div>
                <div class="po-md-6 po-mb-2">
                    <h3>
                        <span>Tipo</span>
                        {{ tipo }}
                    </h3>
                </div>
            </div>
            <div class="po-row">
                <div class="po-md-6 po-mb-2">
                    <h3>
                        <span>Vencimento</span>
                        {{ vencimento }}
                    </h3>
                </div>
                <div class="po-md-6 po-mb-2">
                    <h3>
                        <span>Valor</span>
                        {{ valor }}
                    </h3>
                </div>
                <div class="po-md-12">
                    <po-upload
                        p-label="Anexar Comprovante de Pagamento"
                        [p-url]="urlUploadDocument"
                        (p-success)="success()"
                        [p-restrictions]="restrictions"
                        p-auto-upload="true"
                    ></po-upload>
                </div>
            </div>
        </div>
    </div>
</po-modal>
