<app-page-datatable
    title="Cobranças"
    appHelpPopOver
    [helpText]="helpText"
    [serviceApi]="serviceApi"
    [columns]="columns"
    [tableActions]="tableActions"
    class="breadcrumb"
    [breadcrumb]="breadcrumb"
></app-page-datatable>

<po-modal
    class="modal-button"
    #modalCobranca
    p-title="Pagar Cobrança"
    [p-primary-action]="closeAction"
>
    <div class="po-row">
        <div class="po-md-6">
            <ng-template [ngIf]="isPdfCobranca">
                <div class="img-modal">
                    <img src="/assets/images/imgPdf.png" alt="Pdf" />
                    <po-button
                        (p-click)="downloadPdfCobranca()"
                        p-icon="po-icon po-icon-download"
                    ></po-button>
                </div>
            </ng-template>
            <ng-template [ngIf]="!isPdfCobranca">
                <div class="img-modal">
                    <img [src]="imagemCobranca" alt="Corbança" />
                    <po-button
                        p-icon="po-icon-download"
                        (p-click)="downloadImgCobranca()"
                    ></po-button>
                </div>
            </ng-template>
        </div>
        <div class="po-md-6 text-modal">
            <div class="po-row">
                <div class="po-md-12">
                    <h1>{{ titulo }}</h1>
                </div>
                <div class="po-md-12">
                    <h2 class="po-mb-2">
                        <span>Empresa</span>
                        <!-- adicionar router link para o nome -->
                        {{ nomeEmpresa }}
                    </h2>
                </div>
                <div class="po-md-6 po-mb-2">
                    <h3>
                        <span>Status</span>
                        {{ status }}
                    </h3>
                </div>
                <div class="po-md-6 po-mb-2">
                    <h3>
                        <span>Tipo</span>
                        {{ tipo }}
                    </h3>
                </div>
            </div>
            <div class="po-row">
                <div class="po-md-6 po-mb-2">
                    <h3>
                        <span>Vencimento</span>
                        {{ vencimento | date: "dd/MM/yy" }}
                    </h3>
                </div>
                <div class="po-md-6 po-mb-2">
                    <h3>
                        <span>Valor</span>
                        {{ valor | currency: "BRL" }}
                    </h3>
                </div>
                <div class="po-md-12">
                    <po-upload
                        p-label="Anexar Comprovante de Pagamento"
                        [p-url]="urlUploadDocument"
                        (p-success)="success()"
                        [p-restrictions]="restrictions"
                        p-auto-upload="true"
                    ></po-upload>
                </div>
            </div>
        </div>
    </div>
</po-modal>
