<app-page-datatable
    title="Extratos"
    [pageActions]="pageActions"
    [serviceApi]="serviceApi"
    [columns]="columns"
    [tableActions]="tableActions"
    class="page-no-action breadcrumb"
    [breadcrumb]="breadcrumb"
></app-page-datatable>

<po-modal
    #modalExtratoPendenteRevisao
    p-title="Extrato"
    [p-primary-action]="modalBankStatement?.status !== 'PENDING_REVIEW' ? closeModalExtratoAprovado : primaryAction"
    [p-secondary-action]="modalBankStatement?.status !== 'PENDING_REVIEW' ? '' : secondaryAction"
>
    <div
        class="po-row"
        *ngIf="modalBankStatement"
    >
        <div class="po-md-6">
            <div class="img-modal">
                <ng-container *ngIf="!ehPdfPendente; else elseBlock">
                    <img
                        [src]="modalBankStatement.attachmentUrl"
                        alt="Extrato Bancário"
                    />
                </ng-container>
                <po-button
                    (p-click)="download(modalBankStatement.attachmentUrl)"
                    p-icon="po-icon po-icon-download"
                ></po-button>
            </div>
        </div>
        <div class="po-md-6 text-modal">
            <div class="po-row">
                <div class="po-md-12">
                    <h1 class="po-mb-3">
                        Extrato {{ modalBankStatement.monthText }} - {{ modalBankStatement['bankAccount.bankName'] }}
                    </h1>
                </div>
                <div class="po-md-12 po-mb-2">
                    <h2>
                        <span>Cliente</span>
                        {{ modalBankStatement.bankAccountCompanyFantasyName?
                        modalBankStatement.bankAccountCompanyFantasyName : modalBankStatement.bankAccountCompanyName}}
                    </h2>
                </div>
                <div class="po-md-12">
                    <h3>
                        <span>Situação</span>
                        {{ modalBankStatement.statusText }}
                    </h3>
                </div>
            </div>
        </div>
    </div>
</po-modal>

<ng-template #elseBlock>
    <img
        src="/assets/images/imgPdf.png"
        alt="Pdf"
    />
</ng-template>