<po-page-default p-title="Novo Funcionário">
    <div class="po-container">
        <div class="po-row po-mb-3">
            <div class="po-md-12 po-mb-3">
                <po-input p-label="Nome Completo"></po-input>
            </div>
            <div class="po-md-5">
                <po-input p-label="CPF"></po-input>
            </div>
            <div class="po-md-5">
                <po-input p-label="Cargo"></po-input>
            </div>
        </div>
        <p>Para concluir o cadastro do funcionário é necessário preencher a <strong>Ficha para Registro de
            Trabalhador</strong> e
            anexa-la junto com as cópias dos documento complementares.</p>
        <div class="div-upload">
            <span class="po-icon po-icon-upload icon"></span>
            <p>Solte aqui a <strong>Ficha para Registro de Trabalhador</strong> e seus anexos</p>
            <p>Ou clique aqui para pesquisar</p>
        </div>
        <po-button p-label="Próximo" class="button-new-employee"></po-button>
    </div>
</po-page-default>
