ul {
    list-style: none;
}

.image-container {
    position: relative;
    width: 100%;
    padding-top: 100%;
    margin-bottom: 1rem;

    text-align: center;

    img {
        position: absolute;
        top: 0;
        left: 0;
    }
}
