<app-page-datatable
    title="Cobranças"
    [serviceApi]="serviceApi"
    [tableActions]="tableActions"
    [pageActions]="pageActions"
    [columns]="columns"
    class="breadcrumb page-no-action"
    [breadcrumb]="breadcrumb"
>
</app-page-datatable>

<po-modal
    #modalComprovante
    p-title="Comprovante de Pagamento"
    [p-primary-action]="primaryAction"
    [p-secondary-action]="secondaryAction"
>
    <div
        class="po-row"
        *ngIf="modalCharge"
    >
        <div class="po-md-12 po-mb-2">
            <po-button
                p-label="Ver Cobrança"
                p-type="primary"
                (p-click)="openModalCobranca()"
            ></po-button>
        </div>
        <div class="po-md-6">
            <div class="img-modal">
                <ng-container *ngIf="!isPdfComprovante; else elseBlock">
                    <img
                        [src]="modalCharge.proofOfPaymentUrl"
                        alt="Cobrança"
                    />
                </ng-container>
                <po-button
                    (p-click)="download(modalCharge.proofOfPaymentUrl)"
                    p-icon="po-icon po-icon-download"
                ></po-button>
            </div>
        </div>
        <ng-container *ngTemplateOutlet="greet"></ng-container>
    </div>
</po-modal>

<po-modal
    #modalCobranca
    p-title="Cobrança"
    [p-primary-action]="closeAction"
>
    <div
        class="po-row"
        *ngIf="modalCharge"
    >
        <div class="po-md-6">
            <div class="img-modal">
                <ng-container *ngIf="modalCharge.proofOfPaymentUrl; else elseBlock2">
                    <ng-container *ngIf="!isPdfCobranca; else elseBlock">
                        <img
                            [src]="modalCharge.billingFileUrl"
                            alt="Cobrança"
                        />
                    </ng-container>
                    <po-button
                        (p-click)="download(modalCharge.billingFileUrl)"
                        p-icon="po-icon po-icon-download"
                    ></po-button>
                </ng-container>
            </div>
        </div>
        <ng-container *ngTemplateOutlet="greet"></ng-container>
    </div>
</po-modal>



<ng-template #greet>
    <div class="po-md-6 text-modal">
        <div class="po-row">
            <div class="po-md-12">
                <h1>{{ modalCharge.description }}</h1>
            </div>
            <div class="po-md-12 po-mb-2">
                <h2>
                    <span>Empresa</span>
                    {{ modalCharge.companyFantasyName? modalCharge.companyFantasyName : modalCharge.companyName
                    }}
                </h2>
            </div>

            <div class="po-md-6 po-mb-2">
                <h3>
                    <span>Status</span>
                    {{ modalCharge.statusText }}
                </h3>
            </div>
            <div class="po-md-6 po-mb-2">
                <h3>
                    <span>Tipo</span>
                    {{ modalCharge['type.label']}}
                </h3>
            </div>
        </div>
        <div class="po-md-6 po-mb-2">
            <h3>
                <span>Vencimento</span>
                {{ modalCharge.dueDate | date: "dd/MM/yy" }}
            </h3>
        </div>
        <div class="po-md-6">
            <h3>
                <span>Valor</span>
                {{ modalCharge.value | currency: "BRL" }}
            </h3>
        </div>
    </div>
</ng-template>
<ng-template #elseBlock>
    <img
        src="/assets/images/imgPdf.png"
        alt="Pdf"
    />
</ng-template>
<ng-template #elseBlock2>
    <img
        src="/assets/images/noImage.png"
        alt="Pdf"
    />
</ng-template>