<po-page-dynamic-search 
    p-title="Pedidos" 
    [p-breadcrumb]="breadcrumb"
    (p-quick-search)="handleQuickSearch($event)"
    (p-change-disclaimers)="handleChangeDisclaimers($event)">
    <po-tabs>
        <po-tab p-label="APROVADOS" p-active (p-click)='switchTab("paid")'>
            <ng-container *ngIf="items && items.length>0 && state == 'paid'">
                <app-card-product-order *ngFor="let item of items" [productOrder]="item" (visible)="removeItem($event)"></app-card-product-order>
                <po-button 
                    class="po-mt-3 po-offset-xl-4 po-offset-lg-4 po-offset-md-3 po-lg-4 po-md-6" 
                    p-label="carregar mais resultados"
                    [p-loading]="isLoadingBtn"
                    [p-disabled]="showMoreDisabled"
                    (p-click)="showMore()" 
                ></po-button> 
            </ng-container>
        </po-tab>
        <po-tab p-label="PENDENTES" (p-click)='switchTab("pending")'>
                <ng-container *ngIf="items && items.length>0 && state == 'pending'">
                    <app-card-product-order *ngFor="let item of items" [productOrder]="item"></app-card-product-order>
                    <po-button 
                    class="po-mt-3 po-offset-xl-4 po-offset-lg-4 po-offset-md-3 po-lg-4 po-md-6" 
                    p-label="carregar mais resultados"
                    [p-loading]="isLoadingBtn"
                    [p-disabled]="showMoreDisabled"
                    (p-click)="showMore()" 
                    ></po-button> 
                </ng-container>
        </po-tab>
        <po-tab p-label="ENTREGUES" (p-click)='switchTab("delivered")'>
            <ng-container *ngIf="items && items.length>0 && state == 'delivered'">
                <app-card-product-order *ngFor="let item of items" [productOrder]="item"></app-card-product-order>
                <po-button 
                    class="po-mt-3 po-offset-xl-4 po-offset-lg-4 po-offset-md-3 po-lg-4 po-md-6" 
                    p-label="carregar mais resultados"
                    [p-loading]="isLoadingBtn"
                    [p-disabled]="showMoreDisabled"
                    (p-click)="showMore()" 
                ></po-button> 
            </ng-container>
        </po-tab>
    </po-tabs>
    <ng-container *ngIf="items && items.length==0">
        <h1 class="no-product">Nenhum produto encontrado</h1>
    </ng-container>
    <ng-container *ngIf="!items">
        <h1 class="no-product">Carregando...</h1>
    </ng-container>
</po-page-dynamic-search>
