<po-page-default
    p-title="Solicitações de saque"
    [p-breadcrumb]="breadcrumb"
>

    <ng-container *ngFor="let item of userWithdrawPage.items">
        <po-widget
            p-no-shadow
            [p-disabled]="item.refund"
            [p-primary-label]="item.consolidated ? '' : 'Extornar'"
            (p-primary-action)="refund(item)"
            [p-secondary-label]="item.consolidated ? '' : 'Consolidar'"
            (p-secondary-action)="consolidate(item)"
            class="po-mt-2 custom-border"
            [ngClass]="{'consolidated': item.consolidated, 'refunded': item.refund}"
        >
            <div class="user-transaction" >
                <span
                    *ngIf="!item.consolidated"
                    class="po-icon po-icon-info"
                    p-tooltip="Não consolidado"
                ></span>
                <span
                    *ngIf="item.consolidated"
                    class="po-icon po-icon-ok"
                    p-tooltip="Consolidado"
                ></span>
                <div class="user-transaction-description">
                    <div>
                        <p>
                            #{{item.id}} - <a [routerLink]="['/admin', 'usuarios', item.user.id]">{{item.user.name}}</a>
                        </p>

                        <po-tag p-color="color-03" [p-value]="userWithdrawReason(item)"></po-tag>

                        <p class="user-transaction-created-at">{{item.createdAt|date:'EEEE, dd/MM/yyyy HH:mm:ss'}}</p>
                    </div>

                    <p class="bank-account">
                        Conta {{item.user.bankAccount.accountType.toLowerCase()}}, {{item.user.bankAccount.bank.name}},
                        Ag. {{item.user.bankAccount.agency}}, Conta {{item.user.bankAccount.accountNumber}}
                    </p>
                </div>

                <p [ngClass]="{in: isIn(item), out: isOut(item)}">{{item.finalValue|currency}}</p>
            </div>
        </po-widget>
    </ng-container>

    <po-button
        class="po-mt-4 po-mb-4po-offset-xl-4 po-offset-lg-4 po-offset-md-3 po-lg-4 po-md-6"
        p-label="Carregar mais resultados"
        [p-loading]="loading"
        [p-disabled]="!userWithdrawPage.hasNext"
        (p-click)="loadMore()"
    ></po-button>
</po-page-default>
