<app-page-datatable
    title="Nota Fiscal"
    [pageActions]="pageActions"
    [serviceApi]="serviceApi"
    [columns]="columns"
    [tableActions]="tableActions"
    class="table-no-button breadcrumb"
    [breadcrumb]="breadcrumb"
></app-page-datatable>

<po-modal
    #modalNotaFiscal
    p-title="Nota Fiscal"
    [p-primary-action]="primaryAction"
>
    <div class="po-row po-mb-3">
        <div class="po-md-6 user">
            <span>Status</span>
            <p class="po-mb-2">{{ status }}</p>
            <span>Empresa</span>
            <p class="po-mb-2">{{ companyName }}</p>
            <span>CNPJ/Empresa</span>
            <p>{{ companyDocument }}</p>
        </div>
        <div class="po-md-6 user">
            <span>Cliente</span>
            <p class="po-mb-2">{{ clientName }}</p>
            <span>Documento Cliente</span>
            <p>{{ clientDocument }}</p>
        </div>
    </div>
    <div class="po-row po-mb-3">
        <div class="po-md-12">
            <po-table
                [p-actions]="modalTableActions"
                [p-columns]="modalTableColumns"
                [p-items]="modalTableItems"
            ></po-table>
            <hr />
            <div class="div-totalPrice">
                <span>Total</span>
                <p>R$ {{ totalAmount }}</p>
            </div>
        </div>
    </div>
    <div class="po-row">
        <div class="po-md-12">
            <po-upload
                p-label="Anexar Nota Fiscal"
                [p-url]="uploadDocumentUrl"
                (p-success)="success()"
                p-auto-upload="true"
                p-multiple="false"
                [p-restrictions]="restrictions"
            ></po-upload>
        </div>
    </div>
</po-modal>
