<app-page-datatable
    title="Nota Fiscal"
    [pageActions]="pageActions"
    [columns]="columns"
    [tableActions]="tableActions"
    class="table-no-button breadcrumb"
    [breadcrumb]="breadcrumb"
    [serviceApi]="serviceApi"
></app-page-datatable>

<po-modal
    #modalEnviarNota
    p-title="Nota Fiscal"
    [p-primary-action]="primaryAction"
>
    <div class="po-row text-modal">
        <div class="po-md-12 po-mb-2">
            <h2>
                <span>Status</span>
                {{ status }}
            </h2>
        </div>
        <div class="po-md-6 po-mb-2">
            <h3>
                <span>Empresa</span>
                {{ companyName }}
            </h3>
        </div>
        <div class="po-md-6 po-mb-2">
            <h3>
                <span>Cliente</span>
                {{ clientName }}
            </h3>
        </div>
        <div class="po-md-6 po-mb-2">
            <h3>
                <span>CNPJ Empresa</span>
                {{ companyDocument }}
            </h3>
        </div>
        <div class="po-md-6 po-mb-2">
            <h3>
                <span>CPF Cliente</span>
                {{ clientDocument }}
            </h3>
        </div>
        <div class="po-md-12">
            <po-table
                [p-actions]="modalTableActions"
                [p-columns]="modalTableColumns"
                [p-items]="modalTableItems"
            ></po-table>

            <div class="div-totalPrice po-mt-2">
                <span>Total</span>
                <p>R$ {{ totalAmount }}</p>
            </div>
        </div>
        <div class="po-md-12">
            <po-upload
                p-drag-drop
                p-drag-drop-height="150"
                p-label="Anexar Nota Fiscal"
                [p-url]="uploadDocumentUrl"
                (p-success)="success()"
                p-auto-upload="true"
                p-multiple="false"
                [p-restrictions]="restrictions"
            ></po-upload>
        </div>
    </div>
</po-modal>

<po-modal
    p-title="Nota Fiscal"
    #modalCancelarNota
    [p-primary-action]="cancelInvoice"
    [p-secondary-action]="closeModalCancelInvoice"
>
    <div class="po-row">
        <div class="po-md-6">
            <ng-template [ngIf]="ehPdf">
                <div class="div-pdf">
                    <img src="/assets/images/imgPdf.png" alt="Pdf" />
                    <po-button
                        (p-click)="downloadPdf()"
                        p-icon="po-icon po-icon-download"
                        p-label="Download PDF"
                    ></po-button>
                </div>
            </ng-template>
            <ng-template [ngIf]="!ehPdf">
                <div class="img-modal">
                    <img [src]="imageInvoice" alt="Nota Fiscal" />
                </div>
            </ng-template>
        </div>
        <div class="po-md-6 text-modal">
            <div class="po-row">
                <div class="po-md-12 po-mb-2">
                    <h1>
                        <span>Empresa</span>
                        {{ companyName }}
                    </h1>
                </div>
                <div class="po-md-12 po-mb-2">
                    <h2>
                        <span>CNPJ/Empresa</span>
                        {{ companyDocument }}
                    </h2>
                </div>
                <div class="po-md-12 po-mb-2">
                    <h3>
                        <span>Cliente</span>
                        {{ clientName }}
                    </h3>
                </div>
                <div class="po-md-12 po-mb-2">
                    <h3>
                        <span>Documento Cliente</span>
                        {{ clientDocument }}
                    </h3>
                </div>
            </div>
            <div class="po-md-6">
                <h3>
                    <span>Data de Emissão</span>
                    {{ emissionAt }}
                </h3>
            </div>
            <div class="po-md-6">
                <h3>
                    <span>Total</span>
                    R$ {{ totalAmount }}
                </h3>
            </div>
        </div>
    </div>
</po-modal>
