.alert {
    @media (max-width: 1366px) {
        font-size: 14px;
    }

    background: #eee;
    padding: 1em 1.5em;
    color: var(--color-white);
    width: 100%;
    border-radius: .25em;
}

.alert-info {
    background-color: var(--color-01);
}

.alert-success {
    background-color: var(--color-11);
}

.alert-warning {
    background-color: var(--color-08);
}

.alert-danger {
    background-color: var(--color-07);
}
