<div class="title-container" *ngIf="storeName">
    <div>
        <img class="store-avatar" [src]="storePhoto" *ngIf="storePhoto">
        <img class="store-avatar" src="assets/images/img-placeholder.svg" *ngIf="!storePhoto">
    </div>
    <div>
        <h2>{{storeName}}</h2>
        <p>Encerra em <span>{{product.endDateTime | date:'dd/MM HH:mm'}}</span> • Restam <span>{{product.availableAmount | number}} unidades</span></p>
    </div>
</div>
<div class="po-row">
    <div class="photos-container po-md-6">
        <po-slide
            *ngIf="productPhotosUrls.length > 0"
            [p-slides]="productPhotosUrls"
        ></po-slide>
        <img
            *ngIf="productPhotosUrls.length === 0"
            src="assets/images/img-placeholder.svg"
            (click)="editPhotos()"
            class="placeholder-photo"
        >
    </div>
    <div class="details po-md-6">
        <div class="po-row">
            <h1 class="product-title">{{product.title}}</h1>
            <div>
                <p class="product-price">{{product.price | currency}}</p>
                <p class="product-finalPrice">{{product.finalPrice | currency}}</p>
            </div>
        </div>
        <p class="product-description" [ngClass]="{'product-description-visible': enableText}">{{product.description}}</p>
        <a *ngIf="!enableText" class="product-description-link" (click)="showText()">mais</a>
        <p class="product-commission">Comissão por produto vendido: <span>{{(product.moneyCommission | currency)}}</span> </p>
    </div>
</div>