.title-container {
    display: flex;
    margin-bottom: 8px;
    padding: 0 0.5rem;

    .store-avatar {
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 0.5rem;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 0;
        font-weight: bold;
        color: var(--color-primary);
    }

    p {
        font-size: 0.625rem;
        color: var(--color-secondary-dark-60-alpha-70);
        span {
            color: var(--color-tertiary);
        }
    }
}

.photos-container {
    @media (max-width:420px) {
        padding: 0;
    }
    img {
        cursor: pointer;
    }
    .placeholder-photo {
        margin-bottom: 1rem;  
    }
}

.details {
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    .po-row {
        justify-content: space-between;
        align-items: center;
    }

    .product-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--color-primary);
        @media (min-width: 800px){
            font-size: 2rem;
        }
    }

    .product-price {
        text-align: right;
        text-decoration: line-through;
        font-size: 0.75rem;
        color: var(--color-secondary-dark-60-alpha-70);
    }

    .product-finalPrice {
        text-align: right;
        font-size: 1.125rem;
        font-weight: bold;
        color: var(--color-tertiary);
    }

    .product-description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 0.875rem;
        color: var(--color-text);
        margin-top: 0.75rem;
        @media (min-width: 800px){
            font-size: 1rem;
        }
    }

    .product-description-visible {
        -webkit-line-clamp: unset !important;
    }

    .product-description-link {
        font-size: 0.75rem;
        color: var(--color-tertiary);
        cursor: pointer;
    }

    .product-commission {
        font-size: 0.875rem;
        font-weight: bold;
        color: var(--color-primary);
        margin-top: 1.25rem;
        margin-bottom: 0.75rem;
        span {
            font-size: 1.125rem;
            color: var(--color-tertiary);
        }
        @media (min-width: 800px){
            margin-top: 2rem;
        }
    }
}
