<po-page-default p-title="Meu Plano">
    <ng-container *ngIf="user$ | async as user">

        <h3>
            Atualmente você tem contratado o plano: <span> {{user.userCompany.plan.label}} </span>
        </h3>

        <a
            href="https://api.whatsapp.com/send?phone=5517991663337&text=Ol%C3%A1%2C%20gostaria%20de%20contratar%20um%20novo%20plano,%20atualmente%20possuo%20o%20plano%20{{user.userCompany.plan.label}}">
            Alterar Plano
        </a>
    </ng-container>

    <p> Veja abaixo as vantagens e valores dos nossos planos </p>
    <table class="table1">
        <thead>
            <tr>
                <th
                    scope="col"
                    abbr="Básico"
                >Serviços</th>
                <th
                    scope="col"
                    abbr="Básico"
                >Básico</th>
                <th
                    scope="col"
                    abbr="Premium"
                >Premium</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th scope="row">Valor Mensal</th>
                <td>R$ 379,00</td>
                <td>R$ 499,00</td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <th scope="row">Contabilidade Completa</th>
                <td><span class="po-icon po-icon-ok"></span></td>
                <td><span class="po-icon po-icon-ok"></span></td>
            </tr>
            <tr>
                <th scope="row">Processo de Abertura Grátis</th>
                <td><span class="po-icon po-icon-ok"></span></td>
                <td><span class="po-icon po-icon-ok"></span></td>
            </tr>
            <tr>
                <th scope="row">Certificado Digital Grátis</th>
                <td>Cobrado a parte</td>
                <td><span class="po-icon po-icon-ok"></span></td>
            </tr>
            <tr>
                <th scope="row">Pró-Labore</th>
                <td>Até 2 sócios grátis<br>(Demais funcionários R$25,00 cada)</td>
                <td>Até 4 sócios grátis<br> (Demais funcionários R$25,00 cada)</td>
            </tr>
            <tr>
                <th scope="row">Atendimento</th>
                <td>E-mail e Whatsapp</td>
                <td>E-mail, Whatsapp e contador especialista</td>
            </tr>
            <tr>
                <th scope="row">Nota Fiscal</th>
                <td><span class="check"> 5 notas mensais</span></td>
                <td><span class="check">50 notas mensais</span></td>
            </tr>
        </tbody>
    </table>
</po-page-default>