<po-page-default
    p-title="Nova Despesas"
    [p-breadcrumb]="breadcrumb"
    class="breadcrumb"
>
    <po-stepper #stepper>
        <po-step
            p-label="Dados da Despesa"
            [p-can-active-next-step]="formCompanyExpense.invalid"
        >
            <po-container>
                <form [formGroup]="formCompanyExpense">
                    <div class="po-row po-mb-3">
                        <div class="po-md-6">
                            <po-input
                                formControlName="description"
                                p-label="Título"
                                p-placeholder="Ex: Aluguel"
                                p-minlength="4"
                                p-maxlength="100"
                                p-error-pattern="Descrição Inválida"
                                (p-blur)="dirtyMe('description')"
                            ></po-input>
                            <app-invalid-feedback
                                [formCtrl]="
                                    formCompanyExpense.get('description')
                                "
                                [hasError]="
                                    formCompanyExpense.get('description').errors
                                        ?.required &&
                                    formCompanyExpense.get('description').dirty
                                "
                            >
                                Este campo é obrigatório
                            </app-invalid-feedback>
                        </div>
                    </div>
                    <div class="po-row po-mb-3">
                        <div class="po-md-5">
                            <div formGroupName="type">
                                <po-select
                                    p-label="Tipo"
                                    formControlName="id"
                                    p-placeholder="Selecione"
                                    [p-options]="options"
                                ></po-select>
                            </div>
                        </div>
                    </div>
                    <div class="po-row po-mb-3">
                        <div class="po-md-4">
                            <po-number
                                p-placeholder="R$ 000,00"
                                formControlName="value"
                                p-label="Valor"
                                (p-blur)="dirtyMe('value')"
                            ></po-number>
                            <app-invalid-feedback
                                [formCtrl]="formCompanyExpense.get('value')"
                                [hasError]="
                                    formCompanyExpense.get('value').errors
                                        ?.required &&
                                    formCompanyExpense.get('value').dirty
                                "
                            >
                                Este campo é obrigatório
                            </app-invalid-feedback>
                        </div>
                    </div>
                    <div class="po-row po-mb-3">
                        <div class="po-md-4">
                            <po-datepicker
                                p-placeholder="00/00/0000"
                                formControlName="date"
                                p-label="Data"
                                (p-blur)="dirtyMe('date')"
                            ></po-datepicker>
                            <app-invalid-feedback
                                [formCtrl]="formCompanyExpense.get('date')"
                                [hasError]="
                                    formCompanyExpense.get('date').errors
                                        ?.required &&
                                    formCompanyExpense.get('date').dirty
                                "
                            >
                                Este campo é obrigatório
                            </app-invalid-feedback>
                        </div>
                    </div>
                </form>
                <div class="po-row po-mb-3">
                    <div class="po-md-2">
                        <po-button
                            p-label="Póximo"
                            p-type="primary"
                            (p-click)="submitForm()"
                            [p-disabled]="formCompanyExpense.invalid"
                            [p-loading]="loading"
                        ></po-button>
                    </div>
                </div>
            </po-container>
        </po-step>
        <po-step p-label="Anexar Despesa">
            <po-container>
                <div class="po-md-12 po-mt-4">
                    <po-upload
                        p-label="Anexe o Arquivo da Despesa"
                        p-drag-drop
                        [p-auto-upload]="true"
                        [p-multiple]="false"
                        [p-restrictions]="restrictions"
                        [p-url]="urlUploadDocument"
                        (p-success)="success()"
                    ></po-upload>
                </div>
            </po-container>
        </po-step>
    </po-stepper>
</po-page-default>