<app-page-datatable
    title="Cobranças"
    [serviceApi]="serviceApi"
    [tableActions]="tableActions"
    [columns]="columns"
    class="breadcrumb"
    [breadcrumb]="breadcrumb"
>
</app-page-datatable>

<po-modal
    #modalComprovante
    p-title="Comprovante de Pagamento"
    [p-primary-action]="primaryAction"
    [p-secondary-action]="secondaryAction"
>
    <div class="po-row">
        <div class="po-md-12">
            <a (click)="openModalCobranca()">Ver Cobrança</a>
        </div>
        <div class="po-md-6">
            <div class="div-img">
                <img [src]="imagemComprovante" alt="" />
            </div>
        </div>
        <div class="po-md-6">
            <h1>Imposto de Renda</h1>
            <h2 class="po-mb-2">
                <span>Empresa</span>
                <!-- adicionar router link para o nome -->
                {{ nomeEmpresa }}
            </h2>
            <div class="po-row">
                <div class="po-pl-0 po-md-6 po-mb-2">
                    <h3>
                        <span>Status</span>
                        {{ status }}
                    </h3>
                </div>
                <div class="po-pr-0 po-md-6 po-mb-2">
                    <h3>
                        <span>Tipo</span>
                        {{ tipo }}
                    </h3>
                </div>
            </div>
            <div class="po-row">
                <div class="po-pl-0 po-md-6 po-mb-2">
                    <h3>
                        <span>Vencimento</span>
                        {{ vencimento }}
                    </h3>
                </div>
                <div class="po-pr-0 po-md-6 po-mb-2">
                    <h3>
                        <span>Valor</span>
                        {{ valor }}
                    </h3>
                </div>
            </div>
        </div>
    </div>
</po-modal>

<po-modal #modalCobranca p-title="Cobrança" [p-primary-action]="closeAction">
    <div class="po-row">
        <div class="po-md-6">
            <div class="div-img">
                <img [src]="imagemCobranca" alt="" />
            </div>
        </div>
        <div class="po-md-6">
            <h1>Imposto de Renda</h1>
            <h2 class="po-mb-2">
                <span>Empresa</span>
                <!-- adicionar router link para o nome -->
                {{ nomeEmpresa }}
            </h2>
            <div class="po-row">
                <div class="po-pl-0 po-md-6 po-mb-2">
                    <h3>
                        <span>Status</span>
                        {{ status }}
                    </h3>
                </div>
                <div class="po-pr-0 po-md-6 po-mb-2">
                    <h3>
                        <span>Tipo</span>
                        {{ tipo }}
                    </h3>
                </div>
            </div>
            <div class="po-row">
                <div class="po-pl-0 po-md-6 po-mb-2">
                    <h3>
                        <span>Vencimento</span>
                        {{ vencimento }}
                    </h3>
                </div>
                <div class="po-pr-0 po-md-6 po-mb-2">
                    <h3>
                        <span>Valor</span>
                        {{ valor }}
                    </h3>
                </div>
            </div>
        </div>
    </div>
</po-modal>
