<div class="po-row">

    <po-divider class="po-sm-12" p-label="Fotos do produto (Obrigatório)"></po-divider>

    <po-upload
        class="po-md-4"
        name="upload"
        p-label="Adicionar fotos ao produto"
        [p-help]="help()"
        p-drag-drop
        [p-auto-upload]="true"
        [p-restrictions]="restrictions"
        [p-url]="urlUploadProductPhoto"
        (p-success)="success($event)"
        [p-multiple]="true"
        [p-disabled]="this.product.productPhotos.length >= maxPhotos"

    ></po-upload>

    <div class="po-md-8">
        <app-product-photos-gallery
            (delete)="deletePhoductPhoto($event)"
            [productPhotos]="product.productPhotos"
        ></app-product-photos-gallery>
    </div>
</div>
