<po-page-default p-title="">
    <div *ngIf="dashboardAdmin" class="container">
        <h1 class="po-mb-4 header-text"><span class="">Saldo Total Projetado:</span><span class="header-text-value">{{dashboardAdmin.totalBalance - dashboardAdmin.totalPendingWithdraws| currency}}</span></h1>
        <div class="po-row po-mb-4">
            <div class="po-sm-12 po-md-6 po-mb-2 po-md-0">
                <article class="widget widget-gray" [routerLink]="['extrato']">
                    <h1 class="label">Valor em conta: <span class="label-value">{{dashboardAdmin.totalBalance | currency}}</span></h1>
                </article>
            </div>
            <div class="po-sm-12 po-md-6 po-mb-2 po-md-0">
                <article class="widget widget-gray" [routerLink]="['saques']">
                    <h1 class="label">Saque Pendentes: <span class="label-value label-danger">{{dashboardAdmin.totalPendingWithdraws | currency}}</span></h1>
                </article>
            </div>
        </div>
        <div class="po-row po-mb-4">
            <div class="po-md-6 po-lg-3">
                <article class="widget widget-red" [routerLink]="['saques']">
                    <span class="po-icon po-icon-finance"></span> 
                    <h1 class="card-title">{{dashboardAdmin.countPendingWithdraws}}<br><span>Saques<br>Pendentes</span></h1>
                    <hr>
                    <p>Ver Saques</p>
                </article>
            </div>
            <div class="po-md-6 po-lg-3">
                <article class="widget widget-secondary" [routerLink]="['produtos']">
                    <span class="po-icon po-icon-document-filled"></span> 
                    <h1 class="card-title">{{dashboardAdmin.countProductsEnabled}}<br><span>Anúncios<br>Ativos</span></h1>
                    <hr>
                    <p>Ver Promoçoes</p>
                </article>
            </div>
            <div class="po-md-6 po-lg-3 po-mt-2 po-mt-lg-0">
                <article class="widget widget-tertiary" [routerLink]="['vendedores']">
                    <span class="po-icon po-icon-users"></span> 
                    <h1 class="card-title">{{dashboardAdmin.countSellers}}<span>Promotores</span></h1>
                    <hr>
                    <p>Ver Promotores</p>
                </article>
            </div>
            <div class="po-md-6 po-lg-3 po-mt-2 po-mt-lg-0">
                <article class="widget widget-darkblue" [routerLink]="['lojas']">
                    <span class="po-icon po-icon-home"></span> 
                    <h1 class="card-title">{{dashboardAdmin.countStores}}<span>Lojas</span></h1>
                    <hr>
                    <p>Ver Lojas</p>
                </article>
            </div>
        </div>
    </div>
</po-page-default>
