<app-page-datatable
    title="Nota Fiscal"
    [pageActions]="pageActions"
    [columns]="columns"
    [tableActions]="tableActions"
    class="page-no-action breadcrumb"
    [breadcrumb]="breadcrumb"
    [serviceApi]="serviceApi"
></app-page-datatable>

<po-modal
    #modalEnviarNota
    p-title="Nota Fiscal"
    [p-primary-action]="primaryAction"
>
    <div
        class="po-row text-modal"
        *ngIf="modalInvoice"
    >
        <!-- <div class="po-md-12 po-mb-2">
            <h2>
                <span>Status</span>
                {{ modalInvoice.statusText}}
            </h2>
        </div> -->
        <div class="po-md-12">
            <po-divider p-label="Empresa"></po-divider>
        </div>
        <div class="po-md-6 po-mb-3">
            <h3>
                <span>Nome Fantasia</span>
                {{ modalInvoice.companyFantasyName? modalInvoice.companyFantasyName: modalInvoice.companyName }}
            </h3>
        </div>
        <div class="po-md-6 po-mb-3">
            <h3>
                <span>CNPJ</span>
                <ng-container *ngIf="(this.companyDocument$ | async) as company; else noCpf">
                    {{ company.userCompany.cnpj | cpfcnpj}}
                </ng-container>
            </h3>
        </div>
        <div class="po-md-12">
            <po-divider p-label="Cliente"></po-divider>
        </div>
        <div class="po-md-12 po-mb-2">
            <h3>
                <span>Nome</span>
                {{ modalInvoice['client.name']}}
            </h3>
        </div>
        <div class="po-md-6 po-mb-2">
            <h3>
                <span>Documento</span>
                {{ modalInvoice['client.document'] | cpfcnpj}}
            </h3>
        </div>
        <div class="po-md-6 po-mb-2">
            <h3>
                <span>Nome Para contato</span>
                {{ modalInvoice['client.contactName']}}
            </h3>
        </div>
        <div class="po-md-6 po-mb-2">
            <h3>
                <span>E-mail</span>
                {{ modalInvoice['client.email']}}
            </h3>
        </div>
        <div class="po-md-6 po-mb-2">
            <h3>
                <span>Telefone</span>
                {{ modalInvoice['client.phone'] | phone}}
            </h3>
        </div>
        <div class="po-md-6 po-mb-3">
            <h3>
                <span>Inscrição Municipal</span>
                {{ modalInvoice['client.municipalInscription']}}
            </h3>
        </div>
        <div class="po-md-6 po-mb-3">
            <h3>
                <span>Inscrição Estadual</span>
                {{ modalInvoice['client.stateInscription']}}
            </h3>
        </div>
        <div class="po-md-12 po-mb-2">
            <h3>
                <span>Endereço</span>
                {{ modalInvoice['client.address.street']}}, {{ modalInvoice['client.address.number']}} - {{
                modalInvoice['client.address.neighborhood']}}, {{ modalInvoice['client.address.city.name']}} - {{
                modalInvoice['client.address.city.stateProvince']}}
            </h3>
        </div>
        <div class="po-md-6 po-mb-2">
            <h3>
                <span>CEP</span>
                {{ modalInvoice['client.address.zipcode']}}
            </h3>
        </div>
        <div class="po-md-6 po-mb-2">
            <h3>
                <span>Complemento</span>
                {{ modalInvoice['client.address.complement']}}
            </h3>
        </div>
        <div class="po-md-12 po-mt-3">
            <po-divider p-label="Produtos"></po-divider>
        </div>
        <div class="po-md-12 table-container">
            <ng-container *ngIf="(invoiceProductList$ | async) as data; else tableLoading">
                <po-table
                    [p-actions]="modalTableActions"
                    [p-columns]="modalTableColumns"
                    [p-items]="data.items"
                ></po-table>

                <div class="div-totalPrice po-mt-2">
                    <span>Total</span>
                    <p>{{ data.totalAmount | currency: "BRL" }}</p>
                </div>
            </ng-container>
        </div>
        <div class="po-md-12">
            <po-upload
                p-drag-drop
                p-drag-drop-height="150"
                p-label="Anexar Nota Fiscal"
                [p-url]="uploadDocumentUrl"
                (p-upload)="onLoad()"
                (p-success)="success()"
                p-auto-upload="true"
                p-multiple="false"
                [p-restrictions]="restrictions"
            ></po-upload>
        </div>
        <po-loading-overlay [hidden]="isHideLoading"></po-loading-overlay>
    </div>
</po-modal>

<po-modal
    p-title="Nota Fiscal"
    #modalCancelarNota
    [p-primary-action]="cancelInvoice"
    [p-secondary-action]="closeModalCancelInvoice"
>
    <div
        class="po-row"
        *ngIf="modalInvoice"
    >
        <div class="po-md-6">
            <div class="img-modal">
                <ng-container *ngIf="this.modalInvoice.attachmentUrl?.indexOf('pdf') < 0; else elseBlock">
                    <img
                        [src]="this.modalInvoice.attachmentUrl"
                        alt="Nota Fiscal"
                    />
                </ng-container>
            </div>
        </div>
        <div class="po-md-6 text-modal">
            <div class="po-row">
                <div class="po-md-12 po-mb-2">
                    <h1>
                        <span>Empresa</span>
                        {{ modalInvoice.companyFantasyName? modalInvoice.companyFantasyName: modalInvoice.companyName }}
                    </h1>
                </div>
                <div class="po-md-12 po-mb-2">
                    <h2>
                        <span>CNPJ/Empresa</span>
                        <ng-container *ngIf="(this.companyDocument$ | async) as company; else noCpf">
                            {{ company.userCompany.cnpj | cpfcnpj}}
                        </ng-container>
                    </h2>
                </div>
                <div class="po-md-12 po-mb-2">
                    <h3>
                        <span>Cliente</span>
                        {{ modalInvoice['client.name']}}
                    </h3>
                </div>
                <div class="po-md-12 po-mb-2">
                    <h3>
                        <span>Documento Cliente</span>
                        {{ modalInvoice['client.document']}}
                    </h3>
                </div>
            </div>
            <div class="po-md-6">
                <h3>
                    <span>Data de Emissão</span>
                    {{ modalInvoice.emissionAt | date: "dd/MM/yy" }}
                </h3>
            </div>
            <div class="po-md-6">
                <h3>
                    <span>Total</span>
                    {{ modalInvoice.totalAmount | currency: "BRL" }}
                </h3>
            </div>
        </div>
    </div>
</po-modal>

<ng-template #elseBlock>
    <img
        src="/assets/images/imgPdf.png"
        alt="Pdf"
    />
</ng-template>

<ng-template #noCpf>
    buscando CNPJ
</ng-template>

<ng-template #tableLoading>
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</ng-template>