<po-page-edit
    [p-title]="
        editedUser
            ? editedUser.userCompany
                ? editedUser.userCompany.fantasyName
                : editedUser.name
            : 'Nova Empresa'
    "
    [p-breadcrumb]="breadcrumb"
    class="breadcrumb"
>
    <po-stepper #stepper>
        <po-step p-label="Usuário">
            <!--            [p-can-active-next-step]="formDadosPessoais.invalid"-->
            <po-container>
                <h2 class="po-ml-1 po-mb-3">Dados Pessoais</h2>
                <form [formGroup]="formDadosPessoais">
                    <div class="po-md-12">
                        <po-input
                            formControlName="name"
                            p-auto-focus="true"
                            p-clean="true"
                            p-label="Nome do titular da conta"
                            p-placeholder="Digite o nome"
                            p-required="true"
                            (p-blur)="dirtyMe('name')"
                        >
                        </po-input>
                        <app-invalid-feedback
                            [formCtrl]="formDadosPessoais.get('name')"
                            [hasError]="
                                formDadosPessoais.get('name').errors
                                    ?.required &&
                                formDadosPessoais.get('name').dirty
                            "
                        >
                            Este campo é obrigatório
                        </app-invalid-feedback>
                    </div>
                    <div class="po-mt-2 po-md-6 teste">
                        <po-email
                            formControlName="email"
                            p-label="E-mail"
                            p-placeholder="Digite o e-mail"
                            p-error-pattern="Digite um e-mail válido"
                            p-clean
                            p-required="true"
                            p-maxlength="100"
                            p-icon=""
                            (p-blur)="dirtyMe('email')"
                        ></po-email>
                        <app-invalid-feedback
                            [formCtrl]="formDadosPessoais.get('email')"
                            [hasError]="
                                formDadosPessoais.get('email').errors
                                    ?.isEmailTaken
                            "
                        >
                            Esse e-mail já é utilizado por outro usuário
                        </app-invalid-feedback>
                        <app-invalid-feedback
                            [formCtrl]="formDadosPessoais.get('email')"
                            [hasError]="
                                formDadosPessoais.get('email').errors
                                    ?.required &&
                                formDadosPessoais.get('email').dirty
                            "
                        >
                            Este campo é obrigatório
                        </app-invalid-feedback>
                    </div>
                    <div class="po-row">
                        <div
                            class="po-md-3 po-mt-2 po-mb-3"
                            formGroupName="userExtraData"
                        >
                            <po-input
                                formControlName="phone"
                                name="phone"
                                p-label="Celular"
                                p-placeholder="(00) 00000-0000"
                                p-clean
                                p-required="true"
                                p-mask="(99) 99999?-9999"
                                p-pattern="^[0-9]{10,11}$"
                                p-error-pattern="Digite um celular válido"
                                (p-blur)="dirtyMe('userExtraData.phone')"
                            ></po-input>
                            <app-invalid-feedback
                                [formCtrl]="
                                    formDadosPessoais.get('userExtraData.phone')
                                "
                                [hasError]="
                                    formDadosPessoais.get('userExtraData.phone')
                                        .errors?.required &&
                                    formDadosPessoais.get('userExtraData.phone')
                                        .dirty
                                "
                            >
                                Este campo é obrigatório
                            </app-invalid-feedback>
                        </div>

                        <div
                            formGroupName="userExtraData"
                            class="po-md-4 po-mt-2"
                        >
                            <po-input
                                formControlName="cpf"
                                p-label="CPF"
                                p-placeholder="000.000.000-00"
                                p-clean
                                p-mask="999.999.999-99"
                                p-required="true"
                                (p-blur)="dirtyMe('userExtraData.cpf')"
                            ></po-input>
                            <app-invalid-feedback
                                [formCtrl]="
                                    formDadosPessoais.get('userExtraData.cpf')
                                "
                                [hasError]="
                                    formDadosPessoais.get('userExtraData.cpf')
                                        .errors?.required &&
                                    formDadosPessoais.get('userExtraData.cpf')
                                        .dirty
                                "
                            >
                                Este campo é obrigatório
                            </app-invalid-feedback>
                            <app-invalid-feedback
                                [formCtrl]="
                                    formDadosPessoais.get('userExtraData.cpf')
                                "
                                [hasError]="
                                    formDadosPessoais.get('userExtraData.cpf')
                                        .errors?.cpfInvalido &&
                                    formDadosPessoais.get('userExtraData.cpf')
                                        .dirty
                                "
                            >
                                Este CPF não existe
                            </app-invalid-feedback>
                        </div>
                    </div>
                    <div class="po-row po-ml-1">
                        <po-button
                            [p-disabled]="formDadosPessoais.invalid"
                            p-label="Próximo"
                            p-type="primary"
                            (p-click)="nextForm()"
                        ></po-button>
                    </div>
                </form>
            </po-container>
        </po-step>
        <po-step
            p-label="Empresa"
            [p-can-active-next-step]="formDadosEmpresa.invalid"
        >
            <po-container>
                <h2 class="po-mb-3 po-ml-1">Dados da Empresa</h2>
                <form [formGroup]="formDadosEmpresa">
                    <div
                        class="po-mt-2"
                        *ngIf="radioPlannOptions"
                    >
                        <po-radio-group
                            class="po-md-12 po-mt-2"
                            name="plan"
                            p-label="Plano"
                            p-columns="2"
                            [p-options]="radioPlannOptions"
                            formControlName="plan"
                            p-required
                        >
                        </po-radio-group>
                    </div>
                    <po-input
                        class="po-sm-3"
                        p-clean="true"
                        p-error-pattern="Digite um CNPJ válido"
                        p-placeholder="00.000.000/0001-00"
                        p-mask="99.999.999/9999-99"
                        p-pattern="^[0-9]{14}$"
                        p-label="CNPJ"
                        name="string"
                        formControlName="cnpj"
                        p-optional="true"
                    >
                    </po-input>
                    <po-input
                        class="po-sm-12 po-mt-2"
                        p-clean="true"
                        p-error-pattern="Este campo é obrigatório"
                        p-mask=""
                        p-label="Razão Social"
                        p-placeholder="Digite a razão social"
                        name="string"
                        formControlName="socialReason"
                        p-optional="true"
                    >
                    </po-input>

                    <po-input
                        class="po-sm-12 po-mt-2"
                        p-clean="true"
                        p-error-pattern="Este campo é obrigatório"
                        p-placeholder="Digite o nome fantasia"
                        p-mask=""
                        p-label="Nome Fantasia"
                        name="string"
                        formControlName="fantasyName"
                        p-optional="true"
                    >
                    </po-input>

                    <po-radio-group
                        class="po-md-12 po-mt-2"
                        name="radioGroupBasic"
                        p-label="Tipo da empresa"
                        p-columns="3"
                        [p-options]="[
                            {
                                label: 'Prestadora de Serviço',
                                value: 'SERVICE'
                            },
                            { label: 'Comércio', value: 'COMMERCE' },
                            { label: 'Industria', value: 'INDUSTRY' }
                        ]"
                        formControlName="type"
                        p-optional="true"
                    >
                    </po-radio-group>

                    <po-input
                        class="po-md-3 po-mt-2"
                        p-clean="true"
                        p-label="Ramo"
                        p-placeholder="ramo de atuação"
                        formControlName="lineOfBusiness"
                        p-optional="true"
                    >
                    </po-input>

                    <po-input
                        class="po-md-9 po-mt-2 po-mb-3"
                        p-clean="true"
                        p-label="CNAE"
                        p-placeholder="Digite o CNAE"
                        formControlName="cnae"
                        p-optional="true"
                    >
                    </po-input>

                    <div class="po-row po-ml-1">
                        <h2>Endereço</h2>
                    </div>

                    <po-radio-group
                        class="po-md-12 po-mt-3"
                        name="radioGroupBasic2"
                        p-label="Tipo de Endereço"
                        [p-options]="[
                            { label: 'Comercial', value: 'comercio' },
                            { label: 'Residencial', value: 'redidencial' }
                        ]"
                        p-optional="true"
                    >
                    </po-radio-group>
                    <ng-container formGroupName="address">
                        <div class="po-md-3 po-mt-2">
                            <po-input
                                p-label="CEP"
                                p-placeholder="00000-000"
                                p-clean
                                p-mask="99999-999"
                                p-pattern="^[0-9]{8}$"
                                p-error-pattern="Digite um cep válido"
                                formControlName="zipcode"
                                p-optional="true"
                            ></po-input>
                            <app-invalid-feedback [hasError]="zipcodeError === true">
                                CEP não encontrado
                            </app-invalid-feedback>
                        </div>

                        <ng-container *ngIf="
                                formDadosEmpresa.get('address.zipcode').valid &&
                                zipcodeError !== true
                            ">
                            <po-input
                                #streetInput
                                class="po-md-12 po-mt-2"
                                p-label="Logradouro"
                                p-placeholder="Rua, Avenida, Alameda..."
                                p-clean
                                formControlName="street"
                                p-optional="true"
                            ></po-input>

                            <po-input
                                #numberInput
                                class="po-md-4 po-mt-2"
                                p-label="Número"
                                p-placeholder="0000"
                                p-mask="999999999"
                                p-pattern="^[0-9]"
                                p-clean
                                formControlName="number"
                                p-optional="true"
                            ></po-input>

                            <po-input
                                class="po-md-8 po-mt-2"
                                p-label="Complemento"
                                p-placeholder="Ap. 10"
                                p-clean
                                formControlName="complement"
                                p-optional="true"
                            ></po-input>

                            <po-input
                                class="po-md-4 po-mt-2"
                                p-label="Bairro"
                                p-placeholder="Digite o bairro"
                                p-clean
                                formControlName="neighborhood"
                                p-optional="true"
                            ></po-input>

                            <ng-container formGroupName="city">
                                <po-input
                                    class="po-md-4 po-mt-2"
                                    p-label="Cidade"
                                    p-placeholder="Digite a cidade"
                                    formControlName="name"
                                    p-optional="true"
                                ></po-input>

                                <po-select
                                    class="po-md-4 po-mt-2"
                                    p-label="Estado"
                                    p-placeholder="Selecione o Estado"
                                    formControlName="stateProvince"
                                    p-optional="true"
                                    [p-options]="options"
                                ></po-select>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                    <div class="po-row po-ml-1">
                        <h2 class="po-mt-3">Contato</h2>
                    </div>
                    <po-email
                        class="po-mt-2 po-md-6"
                        name="email"
                        p-label="E-mail"
                        p-placeholder="Digite o e-mail"
                        p-icon=""
                        p-clean
                        p-maxlength="100"
                        formControlName="email"
                        p-optional="true"
                    ></po-email>
                    <po-input
                        class="po-md-3 po-mt-2 po-mb-3"
                        name="phone"
                        p-label="Telefone"
                        p-placeholder="(00) 00000-0000"
                        p-clean
                        p-mask="(99) 99999?-9999"
                        p-pattern="^[0-9]{10,11}$"
                        p-error-pattern="Digite um celular válido"
                        formControlName="phone"
                        p-optional="true"
                    ></po-input>
                    <div class="po-row po-ml-1">
                        <po-button
                            p-label="Finalizar"
                            p-type="primary"
                            (p-click)="submitForm()"
                        ></po-button>
                    </div>
                </form>
            </po-container>
        </po-step>
    </po-stepper>
</po-page-edit>