.need-help-button {
    position: fixed;
    right: 50px;
    bottom: 0;

    padding: 13px 18px;
    border-radius: 8px 8px 0 0;
    border: none;
    background-color: var(--color-tertiary);
    color: #ffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.po-icon {
    margin-left: 11px;
    font-size: 18px;
}
