<div class="po-page-login-container">
    <app-loading-bar></app-loading-bar>

    <div class="po-page-login-panel">
        <img alt="main-logo" class="po-page-background-main-logo" src="/assets/images/logo.svg">

        <div class="po-page-login-body">
            <div class="po-page-login-panel-content">
                <header class="po-page-login-header">
                    <h1 class="po-mb-md-4 po-mb-sm-1">
                        <div class="po-page-login-header-product-name">
                            Cadastro de vendedor
                        </div>
                    </h1>
                </header>

                <form [formGroup]="form" class="po-row" (submit)="handleSave(getSellerForm())">
                    <po-input
                        class="po-sm-12"
                        formControlName="name"
                        p-auto-focus
                        p-label="Nome"
                        p-placeholder="Digite o nome"
                        p-clean
                        p-minlength="4"
                        p-maxlength="100"
                    ></po-input>

                    <po-email
                        class="po-sm-12"
                        formControlName="email"
                        p-label="E-mail"
                        p-placeholder="Digite o e-mail"
                        p-clean
                        p-maxlength="100"
                    ></po-email>
                    <app-invalid-feedback [formCtrl]="form.get('email')" errorCode="uniqueEmail">
                        Esse e-mail já foi utilizado por outro usuário
                    </app-invalid-feedback>

                    <po-input
                        class="po-sm-12"
                        formControlName="document"
                        p-label="CPF"
                        p-placeholder="000.000.000-00"
                        p-clean
                        p-mask="999.999.999-99"
                        p-pattern="^[0-9]{11}$"
                        p-error-pattern="Digite um CPF válido"
                    ></po-input>

                    <po-input
                        class="po-sm-12"
                        formControlName="phone"
                        p-label="Celular"
                        p-placeholder="(00) 00000-0000"
                        p-clean
                        p-mask="(99) 99999?-9999"
                        p-pattern="^[0-9]{10,11}$"
                        p-error-pattern="Digite um celular válido"
                    ></po-input>

                    <po-button
                        class="po-sm-12"
                        p-label="Cadastrar-se"
                        p-type="primary"
                        (p-click)="handleSave(getSellerForm())"
                        [p-loading]="loading"
                    ></po-button>
                </form>

                <div class="po-page-login-register-link">
                    <a routerLink="/acessar" class="po-font-text-large-bold">
                        Acessar o sistema
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
