<app-page-datatable
    title="Extratos"
    [pageActions]="pageActions"
    [serviceApi]="serviceApi"
    [columns]="columns"
    [tableActions]="tableActions"
    class="table-no-button breadcrumb"
    [breadcrumb]="breadcrumb"
></app-page-datatable>

<po-modal
    #modalExtratoPendente
    p-title="Extrato"
    [p-primary-action]="primaryAction"
    [p-secondary-action]="secondaryAction"
>
    <div class="po-row">
        <div class="po-md-6">
            <ng-template [ngIf]="ehPdf">
                <iframe [src]="pdf"></iframe>
            </ng-template>
            <ng-template [ngIf]="!ehPdf">
                <div class="img-modal">
                    <img [src]="image" alt="Extrato Bancário" />
                </div>
            </ng-template>
        </div>
        <div class="po-md-6 text-modal">
            <div class="po-row">
                <div class="po-md-12">
                    <h1 class="po-mb-3">
                        Extrato {{ month }} - {{ bankName }}
                    </h1>
                </div>
                <div class="po-md-12 po-mb-2">
                    <h2>
                        <span>Cliente</span>
                        {{ companyName }}
                    </h2>
                </div>
                <div class="po-md-12">
                    <h3>
                        <span>Situação</span>
                        {{ status }}
                    </h3>
                </div>
            </div>
        </div>
    </div>
</po-modal>

<po-modal
    #modalExtratoAprovado
    p-title="Extrato Aprovado"
    [p-primary-action]="closeModalExtratoAprovado"
>
    <div class="po-row">
        <div class="po-md-6">
            <div class="img-modal">
                <img [src]="image" alt="Extrato Bancário" />
            </div>
        </div>
        <div class="po-md-6 text-modal">
            <div class="po-row">
                <div class="po-md-12 po-mb-3">
                    <h1>Extrato {{ month }} - {{ bankName }}</h1>
                </div>
                <div class="po-md-12 po-mb-2">
                    <h2>
                        <span>Empresa</span>
                        {{ companyName }}
                    </h2>
                </div>
                <div class="po-md-12">
                    <h3>
                        <span>Status</span>
                        {{ status }}
                    </h3>
                </div>
            </div>
        </div>
    </div>
</po-modal>
