<po-page-default
    p-title="Painel de Controle"
    [p-actions]="actions"
>
    <div class="po-container admin-dashboard-container">
        <div class="po-row po-mb-5">
            <div class="po-col po-lg-12">
                <div class="users">
                    <span class="po-icon po-icon po-icon-users po-mr-2"></span>
                    <h3>Usuarios Cadastrados</h3>
                    <span class="number-users">90</span>
                </div>
            </div>
        </div>
        <div class="po-row">
            <div class="po-col po-lg-6 po-mb-5 ">
                <app-dashboard-accordion title="extrato" text="ola" isPending="false"></app-dashboard-accordion>
            </div>
            <div class="po-col po-lg-6 po-mb-5">
                <app-dashboard-accordion title="extrato" text="ola" isPending="false"></app-dashboard-accordion>
            </div>
            <div class="po-col po-lg-6 po-mb-5">
                <app-dashboard-accordion title="extrato" text="ola" isPending="false"></app-dashboard-accordion>
            </div>
            <div class="po-col po-lg-6 po-mb-5">
                <app-dashboard-accordion title="extrato" text="ola" isPending="false"></app-dashboard-accordion>
            </div>
            <div class="po-col po-lg-6 po-mb-5">
                <app-dashboard-accordion title="extrato" text="ola" isPending="false"></app-dashboard-accordion>
            </div>
            <div class="po-col po-lg-6 po-mb-5">
                <app-dashboard-accordion title="extrato" text="ola" isPending="false"></app-dashboard-accordion>
            </div>
            <div class="po-col po-lg-6 po-mb-5">
                <app-dashboard-accordion title="extrato" text="ola" isPending="false"></app-dashboard-accordion>
            </div>
        </div>
    </div>
</po-page-default>
