<div class="disclaimer-container" [ngClass]="isSuccess ? 'success' : 'warning'">
    <po-container p-no-border="true" p-no-padding="true" p-no-shadow="true">
        <div class="po-row">
            <div class="po-lg-1 icon-div">
                <span
                    class="po-icon"
                    [ngClass]="isSuccess ? 'po-icon-warning' : 'po-icon-close'"
                ></span>
            </div>
            <div class="po-lg-10 text-div">
                <h4>
                    {{ disclaimerTitle }}
                </h4>
                <p>
                    {{
                        isSuccess
                            ? disclaimerTextSuccess
                            : disclaimerTextWarning
                    }}
                </p>
            </div>
            <div class="po-lg-1 close-button">
                <button>
                    <span class="po-icon po-icon-close"></span>
                </button>
            </div>
        </div>
    </po-container>
</div>
