.icon-div {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 50px;
}

.text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
        font-weight: bold;
        font-size: 18px;
    }
}

.success {
    color: var(--color-primary);
    background-color: #bfdcae;

    .po-icon {
        color: var(--color-primary) !important;
        stroke: var(--color-primary);
    }
}

.warning {
    background-color: #dcb3ae;
    color: var(--color-danger);

    .po-icon {
        color: var(--color-danger) !important;
        stroke: var(--color-danger);
    }
}

.close-button {
    text-align: right;

    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .po-icon {
        font-size: 20px;
    }
}
