<po-page-edit
    [p-title]="title"
    [p-breadcrumb]="breadcrumb"
    (p-cancel)="handleCancel()"
    (p-save)="handleSave(getUser())"
>
    <po-loading-overlay *ngIf="loading" [p-screen-lock]="true" p-text="Solicitando saque"></po-loading-overlay>
    <form [formGroup]="form" (submit)="enterSubmit(getUser.bind(this))">
        <button type="submit" style="visibility: hidden; position: absolute; left: -9999px"></button>

        <div class="po-row">
            <po-divider class="po-sm-12" p-label="Dados do usuário"></po-divider>

            <po-input
                class="po-md-6"
                p-auto-focus
                name="name"
                formControlName="name"
                p-label="Nome"
                p-placeholder="Digite o nome"
                p-clean
                p-required
                p-minlength="4"
                p-maxlength="100"
            ></po-input>

            <div class="po-md-6">
                <po-email
                    name="email"
                    formControlName="email"
                    p-label="E-mail"
                    p-placeholder="Digite o e-mail"
                    p-clean
                    p-required
                    p-maxlength="100"
                ></po-email>
                <app-invalid-feedback [formCtrl]="form.get('email')" errorCode="uniqueEmail">
                    Esse e-mail já foi utilizado por outro usuário
                </app-invalid-feedback>
            </div>

            <po-checkbox-group
                class="po-md-6"
                name="roles"
                formControlName="roles"
                p-label="Funções"
                p-required
                [p-options]="roles"
                p-columns="1"
                (p-change)="updateForm()"
                [hidden]="hiddenRoles"
            ></po-checkbox-group>

            <ng-container formGroupName="userExtraData" *ngIf="form.get('userExtraData')">
                <po-divider class="po-sm-12" p-label="Dados complementares"></po-divider>

                <po-radio-group
                    p-auto-focus
                    class="po-md-6"
                    p-label="Tipo de pessoa"
                    [p-options]="personTypes"
                    formControlName="personType"
                    (p-change)="updateDocumentOptions()"
                ></po-radio-group>

                <po-input
                    #documentInput
                    class="po-md-6"
                    name="document"
                    formControlName="document"
                    [p-label]="documentOptions.label"
                    [p-placeholder]="documentOptions.placeholder"
                    p-clean
                    p-required
                    [p-mask]="documentOptions.mask"
                    [p-pattern]="documentOptions.pattern"
                    [p-error-pattern]="documentOptions.errorPattern"
                ></po-input>

                <po-input
                    class="po-md-6"
                    name="phone"
                    formControlName="phone"
                    p-label="Celular"
                    p-placeholder="(00) 00000-0000"
                    p-clean
                    p-required
                    p-mask="(99) 99999?-9999"
                    p-pattern="^[0-9]{10,11}$"
                    p-error-pattern="Digite um celular válido"
                ></po-input>
            </ng-container>
        </div>

        <app-store-form
            [store]="user.store"
            (formChange)="this.form.addControl('store', $event)"
            *ngIf="isStore()"
            [hidden]="hiddenStoreForm"
        ></app-store-form>

        <app-address-form
            [address]="user.address"
            (formChange)="this.form.addControl('address', $event)"
            *ngIf="isStore()"
            [hidden]="hiddenAddressForm"
        ></app-address-form>
    </form>
</po-page-edit>
