<app-page-datatable
    title="Meus Extratos"
    [pageActions]=""
    [serviceApi]="serviceApi"
    [columns]="columns"
    [tableActions]="tableActions"
    class="page-with-action breadcrumb "
    [breadcrumb]="breadcrumb"
>
</app-page-datatable>

<po-modal
    #modalExtrato
    [p-primary-action]="primaryAction"
>
    <div
        class="po-row text-modal"
        *ngIf="modalBankStatement"
    >
        <div class="po-md-12">
            <div class="po-md-12 po-mb-2">
                <h2>
                    <span>
                        Extrato
                    </span>
                    {{ modalBankStatement.monthText }} - {{ modalBankStatement['bankAccount.bankName']}}
                </h2>
            </div>
            <div class="po-md-6 po-mb-2">
                <h3>
                    <span>Agência</span>
                    {{ modalBankStatement['bankAccount.agency']}}
                </h3>
            </div>
            <div class="po-md-6 po-mb-2">
                <h3>
                    <span>Conta</span>
                    {{modalBankStatement['bankAccount.accountNumber']}}
                </h3>
            </div>
            <div class="po-md-12 po-mb-2">
                <h3>
                    <span>Situação</span>
                    {{ modalBankStatement.statusText }}
                </h3>
            </div>
            <div class="po-md-12">
                <po-upload
                    p-drag-drop
                    p-drag-drop-height="150"
                    p-auto-upload="true"
                    [p-url]="urlUploadDocument"
                    [p-restrictions]="restrictions"
                    (p-upload)="onLoad()"
                    (p-success)="success()"
                ></po-upload>
            </div>
        </div>
    </div>
</po-modal>
<po-loading-overlay [hidden]="isHideLoading"></po-loading-overlay>