.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

span {
    font-size: 12px;
    font-weight: lighter;
}

p {
    font-weight: bold;
    font-size: 18px;
}

