<app-page-datatable
    title="Meus Extratos"
    [pageActions]="pageActions"
    [serviceApi]="serviceApi"
    [columns]="columns"
    [tableActions]="tableActions"
    class="page-with-action breadcrumb "
    [breadcrumb]="breadcrumb"
>
</app-page-datatable>

<po-modal #modalExtrato [p-primary-action]="primaryAction">
    <div class="po-row text-modal">
        <div class="po-md-12">
            <div class="po-md-12 po-mb-2">
                <h2><span>Extrato</span> {{ month }} - {{ bankName }}</h2>
            </div>
            <div class="po-md-12 po-mb-2">
                <h3>
                    <span>Cliente</span>
                    {{ nomeEmpresa }}
                </h3>
            </div>
            <div class="po-md-12 po-mb-2">
                <h3>
                    <span>Situação</span>
                    {{ status }}
                </h3>
            </div>
            <div class="po-md-12">
                <po-upload
                    p-drag-drop
                    p-drag-drop-height="150"
                    p-auto-upload="true"
                    [p-url]="urlUploadDocument"
                    [p-restrictions]="restrictions"
                    (p-success)="success()"
                ></po-upload>
            </div>
        </div>
    </div>
</po-modal>
