<!-- p-blocked-url="string" -->
<!-- p-exceeded-attempts-warning="3" -->
<!-- p-literals="PoPageLoginLiterals" -->
<!-- p-login-errors="string[]" -->
<!-- p-login-pattern="expressao-regular-email" -->
<!-- p-recovery="string | Function | PoPageLoginRecovery" -->
<!-- p-register-url="string" -->
<!-- p-support="https://api.whatsapp.com/send?phone=5517991663337&text=Ol%C3%A1%2C%20preciso%20de%20ajuda%20no%20sistema%20da%20mais%20f%C3%A1cil"  -->
<po-page-login
    p-logo="/assets/images/logo.svg"
    p-authentication-type="PoPageLoginAuthenticationType"
    p-contact-email="contato@maisfacil.com.br"
    (p-login-submit)="login($event)"
    p-background="/assets/images/bg-login.png"
    [p-loading]="loadingSubmit"
>
</po-page-login>