.plan {
    display: block;
    color: var(--color-primary);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
}

.document {
    color: var(--color-secondary);
    font-size: 18px;
    font-weight: 500;
}

.card-info {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #d4d4d4;
    border-radius: 10px;
    padding: 20px 0 20px 16px;
    margin-top: 30px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);

}

.info {
    display: flex;
    flex-direction: row;

    .po-icon {
        margin-right: 1rem;
        color: var(--color-secondary) !important;
        stroke: var(--color-secondary);
    }
}
