<po-page-default
    *ngIf="company$ | async as company"
    [p-title]="company.userCompany.fantasyName"
    [p-actions]="actions"
    [p-breadcrumb]="breadcrumb"
    class="breadcrumb"
>
    <div class="company-detail-dashboard">
        <po-container p-no-padding="true">
            <div class="po-row">
                <div class="po-lg-12">
                    <span class="document">{{
                        company.userCompany.cnpj | cpfcnpj
                    }}</span>
                </div>
                <div class="po-lg-5">
                    <div class="card-info">
                        <div class="info po-mb-2">
                            <span class="po-icon po-icon-telephone"></span>
                            <p>{{ company.userCompany.phone | phone }}</p>
                            <!-- <span
                                class="po-icon po-icon-social-whatsapp po-ml-1"
                            ></span> -->
                        </div>
                        <div class="info po-mb-2">
                            <span class="po-icon po-icon-mail"></span>
                            <p>{{ company.email }}</p>
                        </div>
                        <div class="info">
                            <span class="po-icon po-icon-home"></span>
                            <p>
                                {{ company.userCompany.address.street }},
                                {{ company.userCompany.address.number }},
                                {{ company.userCompany.address.neighborhood }} -
                                {{ company.userCompany.address.city.name }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="po-row po-mb-3 po-mt-2">
                <div class="po-md-6">
                    <app-dashboard-accordion
                        [isPending]="billingPendingOk"
                        title="Cobranças Pendentes"
                        [text]="billingPendingText"
                        [items]="billingPending"
                    >
                    </app-dashboard-accordion>
                </div>
                <div class="po-md-6">
                    <app-dashboard-accordion
                        [isPending]="billingRefusedOk"
                        title="Cobranças Recusadas"
                        [text]="billingRefusedText"
                        [items]="billingRefused"
                    >
                    </app-dashboard-accordion>
                </div>
            </div>
            <div class="po-row po-mb-3">
                <div class="po-md-6">
                    <app-dashboard-accordion
                        [isPending]="billingPendingReviewOk"
                        title="Cobranças em Analise"
                        [text]="billingPendingReviewText"
                        [items]="billingPendingReview"
                    >
                    </app-dashboard-accordion>
                </div>
                <div class="po-md-6">
                    <app-dashboard-accordion
                        [isPending]="statementsPendingOk"
                        title="Extratos Pendentes"
                        [text]="statementsPendingText"
                        [items]="statementsPending"
                    >
                    </app-dashboard-accordion>
                </div>
            </div>
            <div class="po-row po-mb-3">
                <div class="po-md-6">
                    <app-dashboard-accordion
                        [isPending]="statementsPendingReviewOk"
                        title="Extratos em Analise"
                        [text]="statementsPendingReviewText"
                        [items]="statementsPendingReview"
                    >
                    </app-dashboard-accordion>
                </div>
                <div class="po-md-6">
                    <app-dashboard-accordion
                        [isPending]="employeePendingFiredOk"
                        title="Demissões Solicitadas"
                        [text]="employeePendingFiredText"
                        [items]="employeePendingFired"
                    >
                    </app-dashboard-accordion>
                </div>
            </div>
            <div class="po-row po-mb-3">
                <div class="po-md-6">
                    <app-dashboard-accordion
                        [isPending]="notaFiscalCanceladaOk"
                        title="Nota Fiscal cancelada"
                        [text]="notaFiscalCanceladaText"
                        [items]="notaFiscalCancelada"
                    >
                    </app-dashboard-accordion>
                </div>

                <div class="po-md-6">
                    <app-dashboard-accordion
                        [isPending]="notaFiscalProcessandoOk"
                        title="Nota Fiscal em analise"
                        [text]="notaFiscalProcessandoText"
                        [items]="notaFiscalProcessando"
                    >
                    </app-dashboard-accordion>
                </div>
            </div>
        </po-container>
    </div>
</po-page-default>
