.document {
    color: var(--color-secondary);
    font-size: 18px;
    font-weight: 500;
}

.card-info {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #d4d4d4;
    border-radius: 10px;
    padding: 20px 0 20px 16px;
    margin-top: 30px;
}

.info {
    display: flex;
    flex-direction: row;

    .po-icon {
        margin-right: 1rem;
        color: var(--color-secondary) !important;
        stroke: var(--color-secondary);
    }
}
