<po-widget p-no-shadow [p-disabled]="accountTransaction.refund">
    <div class="account-transaction">
        <div class="account-transaction-description">
            <p>#{{accountTransaction.id}} {{accountTransaction.description}}</p>

            <po-tag p-color="color-03" [p-value]="accountTransactionReason(accountTransaction)"></po-tag>

            <p class="account-transaction-created-at">{{accountTransaction.createdAt|date:'EEEE, dd/MM/yyyy HH:mm:ss'}}</p>
        </div>

        <p
            [p-tooltip]="amountDescription"
            [ngClass]="{in: isIn(accountTransaction), out: isOut(accountTransaction)}"
        >
            {{accountTransaction.totalAmount|currency}}
        </p>
    </div>
</po-widget>
