<po-page-default
    p-title="Painel de Controle"
    appHelpPopOver
    [helpText]="helpText"
>
    <app-disclaimer
        disclaimerTextSuccess="Sucesso"
        disclaimerTextWarning="Erro"
    ></app-disclaimer>
    <div class="po-row po-mb-3 po-mt-2">
        <div class="po-md-6">
            <app-dashboard-accordion
                [isPending]="billingPendingOk"
                title="Cobranças Pendentes"
                [text]="billingPendingText"
                [items]="billingPending"
            >
            </app-dashboard-accordion>
        </div>
        <div class="po-md-6">
            <app-dashboard-accordion
                [isPending]="billingRefusedOk"
                title="Cobranças Recusadas"
                [text]="billingRefusedText"
                [items]="billingRefused"
            >
            </app-dashboard-accordion>
        </div>
    </div>
    <div class="po-row po-mb-3">
        <div class="po-md-6">
            <app-dashboard-accordion
                [isPending]="billingPendingReviewOk"
                title="Cobranças em Analise"
                [text]="billingPendingReviewText"
                [items]="billingPendingReview"
            >
            </app-dashboard-accordion>
        </div>
        <div class="po-md-6">
            <app-dashboard-accordion
                [isPending]="statementsPendingOk"
                title="Extratos Pendentes"
                [text]="statementsPendingText"
                [items]="statementsPending"
            >
            </app-dashboard-accordion>
        </div>
    </div>
    <div class="po-row po-mb-3">
        <div class="po-md-6">
            <app-dashboard-accordion
                [isPending]="statementsPendingReviewOk"
                title="Extratos em Analise"
                [text]="statementsPendingReviewText"
                [items]="statementsPendingReview"
            >
            </app-dashboard-accordion>
        </div>
        <div class="po-md-6">
            <app-dashboard-accordion
                [isPending]="employeePendingFiredOk"
                title="Demissões Solicitadas"
                [text]="employeePendingFiredText"
                [items]="employeePendingFired"
            >
            </app-dashboard-accordion>
        </div>
    </div>
    <div class="po-row po-mb-3">
        <div class="po-md-6">
            <app-dashboard-accordion
                [isPending]="notaFiscalCanceladaOk"
                title="Nota Fiscal"
                [text]="notaFiscalCanceladaText"
                [items]="notaFiscalCancelada"
            >
            </app-dashboard-accordion>
        </div>

        <div class="po-md-6">
            <app-dashboard-accordion
                [isPending]="notaFiscalProcessandoOk"
                title="Nota Fiscal"
                [text]="notaFiscalProcessandoText"
                [items]="notaFiscalProcessando"
            >
            </app-dashboard-accordion>
        </div>
    </div>
</po-page-default>
