<po-page-default
    p-title="Painel de Controle"
    appHelpPopOver
    [helpText]="helpText"
>
    <app-disclaimer
        disclaimerTextSuccess="Sucesso"
        disclaimerTextWarning="Erro"
    ></app-disclaimer>
    <div class="po-row po-mb-3 po-mt-2">
        <div class="po-md-6">
            <app-dashboard-accordion
                [isPending]="billingPendingOk"
                title="Cobranças Pendentes"
                text="Você tem Cobranças Pendentes"
                [items]="billingPending"
            >
            </app-dashboard-accordion>
        </div>
        <div class="po-md-6">
            <app-dashboard-accordion
                [isPending]="true"
                title="Cobranças Recusadas"
                text="Você tem Cobranças Recusadas"
                [items]="billingRefused"
            >
            </app-dashboard-accordion>
        </div>
    </div>
    <div class="po-row po-mb-3">
        <div class="po-md-6">
            <app-dashboard-accordion
                [isPending]="billingPendingReviewOk"
                title="Cobranças em Analise"
                text="Você tem Cobranças Analise"
                [items]="billingPendingReview"
            >
            </app-dashboard-accordion>
        </div>
        <div class="po-md-6">
            <app-dashboard-accordion
                [isPending]="true"
                title="Extratos Pendentes"
                text="Você tem Cobranças Pendentes"
                [items]="statementsPending"
            >
            </app-dashboard-accordion>
        </div>
    </div>
    <div class="po-row po-mb-3">
        <div class="po-md-6">
            <app-dashboard-accordion
                [isPending]="true"
                title="Extratos em Analise"
                text="Você tem Extratos Bancario em Analise"
                [items]="statementsPendingReview"
            >
            </app-dashboard-accordion>
        </div>
        <div class="po-md-6">
            <app-dashboard-accordion
                [isPending]="true"
                title="Demissões Solicitadas"
                text="Você tem Demissões Solicitadas"
                [items]="employeePendingFired"
            >
            </app-dashboard-accordion>
        </div>
    </div>
    <div class="po-row po-mb-3">
        <div class="po-md-6">
            <app-dashboard-accordion
                [isPending]="true"
                title="Nota Fiscal"
                text="Você tem Notas fiscais canceladas"
                [items]="notaFiscalCancelada"
            >
            </app-dashboard-accordion>
        </div>

        <div class="po-md-6">
            <app-dashboard-accordion
                [isPending]="true"
                title="Nota Fiscal"
                text="Você tem Notas Fiscais em analise"
                [items]="notaFiscalProcessando"
            >
            </app-dashboard-accordion>
        </div>
    </div>
</po-page-default>
