<po-page-default p-title="Nova Cobrança">
    <div class="po-container">
        <div class="po-row">
            <div class="po-md-12 po-mt-2">
                <po-upload
                    p-drag-drop
                    [p-multiple]="true"
                    p-required="false"
                    [p-restrictions]="restrictions"
                    [p-url]="urlUploadDocument"
                ></po-upload>
            </div>
        </div>
        <form [formGroup]="formCharge">
            <div class="po-row po-mb-4">
                <div class="po-md-6">
                    <po-input
                        p-label="Título"
                        formControlName="description"
                        p-auto-focus
                        p-required="true"
                        p-clean="true"
                        p-placeholder="Título"
                    ></po-input>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-4" formGroupName="type">
                    <po-select
                        p-label="Tipo"
                        [p-options]="options"
                        formControlName="id"
                        p-required="true"
                        p-placeholder="Selecione"
                    ></po-select>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-3">
                    <po-input
                        p-label="Data de Vencimento"
                        formControlName="dueDate"
                        p-required="true"
                        p-clean="true"
                        p-mask="99/99/9999"
                        p-placeholder="00/00/0000"
                    ></po-input>
                </div>
                <div class="po-md-3">
                    <po-number
                        p-label="Valor"
                        formControlName="value"
                        p-required="true"
                        p-clean="true"
                        p-placeholder="000,00"
                    ></po-number>
                </div>
            </div>
            <div class="po-row">
                <div class="po-md-2">
                    <po-button
                        p-label="Salvar"
                        p-type="primary"
                        (p-click)="subscribeForm()"
                        [p-disabled]="formCharge.invalid"
                    ></po-button>
                </div>
            </div>
        </form>
    </div>
</po-page-default>
