<po-stepper #stepper>
    <po-step
        p-label="Dados da Cobrança"
        [p-can-active-next-step]="formCharge.invalid"
    >
        <div class="po-container">
            <form [formGroup]="formCharge">
                <div class="po-row po-mb-4">
                    <div class="po-md-6">
                        <po-input
                            p-label="Título"
                            formControlName="description"
                            p-auto-focus
                            p-required="true"
                            p-clean="true"
                            p-placeholder="Título"
                            (p-blur)="dirtyMe('description')"
                            p-error-pattern="Nome inválido"
                        ></po-input>
                        <app-invalid-feedback
                            [formCtrl]="formCharge.get('description')"
                            [hasError]="
                                formCharge.get('description').errors
                                    ?.required &&
                                formCharge.get('description').dirty
                            "
                        >
                            Este campo é obrigatório
                        </app-invalid-feedback>
                    </div>
                </div>
                <div class="po-row po-mb-4">
                    <div
                        class="po-md-4"
                        formGroupName="type"
                    >
                        <po-select
                            p-label="Tipo"
                            [p-options]="options"
                            formControlName="id"
                            p-required="true"
                            p-placeholder="Selecione"
                        ></po-select>
                    </div>
                </div>
                <div class="po-row po-mb-4">
                    <div class="po-md-3">
                        <po-datepicker
                            p-label="Data de Vencimento"
                            formControlName="dueDate"
                            p-required="true"
                            p-clean="true"
                            p-placeholder="00/00/0000"
                            (p-blur)="dirtyMe('dueDate')"
                            [p-min-date]="startDate"
                        ></po-datepicker>
                        <app-invalid-feedback
                            [formCtrl]="formCharge.get('dueDate')"
                            [hasError]="
                                formCharge.get('dueDate').errors?.required &&
                                formCharge.get('dueDate').dirty
                            "
                        >
                            Este campo é obrigatório
                        </app-invalid-feedback>
                    </div>
                    <div class="po-md-3">
                        <po-number
                            p-label="Valor"
                            formControlName="value"
                            p-required="true"
                            p-clean="true"
                            p-placeholder="R$ 000,00"
                            p-error-pattern="Valor inválido"
                            (p-blur)="dirtyMe('value')"
                        ></po-number>
                        <app-invalid-feedback
                            [formCtrl]="formCharge.get('value')"
                            [hasError]="
                                formCharge.get('value').errors?.required &&
                                formCharge.get('value').dirty
                            "
                        >
                            Este campo é obrigatório
                        </app-invalid-feedback>
                    </div>
                </div>
                <div class="po-row">
                    <div class="po-md-2">
                        <po-button
                            p-label="Salvar"
                            p-type="primary"
                            (p-click)="submitForm()"
                            [p-disabled]="formCharge.invalid"
                        ></po-button>
                    </div>
                </div>
            </form>
        </div>
    </po-step>
    <po-step p-label="Arquivo da Cobrança">
        <po-container>
            <div class="po-mt-3 po-mb-4">
                <div class="po-row po-mb-4">
                    <po-upload
                        p-label="Anexe o Arquivo da Cobrança"
                        class="po-md-12 po-mt-2"
                        p-drag-drop
                        [p-auto-upload]="true"
                        [p-multiple]="false"
                        [p-restrictions]="restrictions"
                        [p-url]="urlUploadDocument"
                        (p-success)="success()"
                    ></po-upload>
                </div>
                <po-button
                    (p-click)="returToListing()"
                    p-label="Pular"
                ></po-button>
            </div>
        </po-container>
    </po-step>
</po-stepper>