<po-stepper #stepper>
    <po-step
        p-label="Dados Pessoais"
        [p-can-active-next-step]="this.editedAssociate?  null:canActiveNextStep.bind(this, formAssociate)"
    >
        <div class="po-container po-mt-2">
            <form [formGroup]="formAssociate">
                <div class="po-row">
                    <div class="po-md-12 po-mb-4">
                        <po-input
                            p-label="Nome"
                            formControlName="name"
                            name="name"
                            p-required="true"
                            p-auto-focus="true"
                            p-clean="true"
                            p-placeholder="Digite um Nome"
                            p-minlength="4"
                            p-maxlength="100"
                            p-error-pattern="Digite um nome válido"
                            (p-blur)="dirtyMe('name')"
                        ></po-input>
                        <app-invalid-feedback
                            [formCtrl]="formAssociate.get('name')"
                            [hasError]="
                                            formAssociate.get('name').errors?.required &&
                                            formAssociate.get('name').dirty
                                        "
                        >
                            Este campo é obrigatório
                        </app-invalid-feedback>
                    </div>
                </div>
                <div class="po-row">
                    <div class="po-md-4 po-mb-4">
                        <po-input
                            p-label="RG"
                            formControlName="rg"
                            name="rg"
                            p-required="true"
                            p-clean="true"
                            p-placeholder="00.000.000-0"
                            p-maxlength="15"
                            p-minlength="9"
                            p-error-pattern="Digite um RG válido"
                            (p-blur)="dirtyMe('rg')"
                        ></po-input>
                        <app-invalid-feedback
                            [formCtrl]="formAssociate.get('rg')"
                            [hasError]="
                                            formAssociate.get('rg').errors?.required &&
                                            formAssociate.get('rg').dirty
                                        "
                        >
                            Este campo é obrigatório
                        </app-invalid-feedback>
                    </div>

                    <div class="po-md-4 po-mb-4">
                        <po-input
                            p-label="CPF"
                            formControlName="cpf"
                            name="cpf"
                            p-required="true"
                            p-clean="true"
                            p-mask="999.999.999-99"
                            p-pattern="^[0-9]{11}$"
                            p-placeholder="000.000.000-00"
                            p-error-pattern="Digite um CPF válido"
                            (p-blur)="dirtyMe('cpf')"
                        ></po-input>
                        <app-invalid-feedback
                            [formCtrl]="formAssociate.get('cpf')"
                            [hasError]="
                                            formAssociate.get('cpf').errors?.required &&
                                            formAssociate.get('cpf').dirty
                                        "
                        >
                            Este campo é obrigatório
                        </app-invalid-feedback>
                    </div>
                    <div class="po-md-4 po-mb-4">
                        <po-input
                            p-label="Titulo de Eleitor"
                            formControlName="voterTitle"
                            name="voterTitle"
                            p-required="true"
                            p-clean="true"
                            p-placeholder="0000 0000 00 00"
                            p-mask="9999 9999 99 99"
                            p-pattern="^[0-9]{12}$"
                            p-error-pattern="Digite um Título de Eleitor válido"
                            (p-blur)="dirtyMe('voterTitle')"
                        ></po-input>
                        <app-invalid-feedback
                            [formCtrl]="formAssociate.get('voterTitle')"
                            [hasError]="
                                            formAssociate.get('voterTitle').errors?.required &&
                                            formAssociate.get('voterTitle').dirty
                                        "
                        >
                            Este campo é obrigatório
                        </app-invalid-feedback>
                    </div>
                </div>
                <div class="po-row">
                    <div class="po-md-4 po-mb-4">
                        <po-input
                            p-label="Participação na sociedade (em %)"
                            formControlName="percentageInSociety"
                            name="percentageInSociety"
                            p-required="true"
                            p-clean="true"
                            p-placeholder="000%"
                            p-pattern="^[1-9][0-9]?$|^100$"
                            p-error-pattern="Digite uma porcentagem válida"
                            (p-blur)="dirtyMe('percentageInSociety')"
                        ></po-input>
                        <app-invalid-feedback
                            [formCtrl]="formAssociate.get('percentageInSociety')"
                            [hasError]="
                                            formAssociate.get('percentageInSociety').errors
                                                ?.required &&
                                            formAssociate.get('percentageInSociety').dirty
                                        "
                        >
                            Este campo é obrigatório
                        </app-invalid-feedback>
                    </div>
                </div>
                <div class="po-row">
                    <div class="po-md-3">
                        <po-button
                            p-label="Concluir"
                            p-type="primary"
                            (p-click)="submitForm()"
                            [p-disabled]="formAssociate.invalid"
                        ></po-button>
                    </div>
                </div>
            </form>
        </div>
    </po-step>
    <po-step p-label="RG">
        <div class="po-container po-mt-2">
            <div class="po-row po-mb-4">
                <po-upload
                    p-label="Anexe o RG"
                    class="po-md-12 po-mt-2"
                    p-drag-drop
                    [p-auto-upload]="true"
                    [p-multiple]="false"
                    [p-restrictions]="restrictions"
                    [p-url]="urlUploadRG"
                    (p-success)="success($event)"
                ></po-upload>
            </div>
        </div>
    </po-step>
    <po-step p-label="CPF">
        <div class="po-container po-mt-2">
            <div class="po-row po-mb-4">
                <po-upload
                    p-label="Anexe o CPF"
                    class="po-md-12 po-mt-2"
                    p-drag-drop
                    [p-auto-upload]="true"
                    [p-multiple]="false"
                    [p-restrictions]="restrictions"
                    [p-url]="urlUploadCPF"
                    (p-success)="success($event)"
                ></po-upload>
            </div>
        </div>
    </po-step>
    <po-step p-label="Ttitulo de Eleitor">
        <div class="po-container po-mt-2">
            <div class="po-row po-mb-4">
                <po-upload
                    p-label="Anexe o Titulo de Eleitor"
                    class="po-md-12 po-mt-2"
                    p-drag-drop
                    [p-auto-upload]="true"
                    [p-multiple]="false"
                    [p-restrictions]="restrictions"
                    [p-url]="urlUploadVoterTitle"
                    (p-success)="success($event)"
                ></po-upload>
            </div>
        </div>
    </po-step>
    <po-step p-label="Comporovante de Moradia">
        <div class="po-container po-mt-2">
            <div class="po-row po-mb-4">
                <po-upload
                    p-label="Anexe o Comprovante Residencial"
                    class="po-md-12 po-mt-2"
                    p-drag-drop
                    [p-auto-upload]="true"
                    [p-multiple]="false"
                    [p-restrictions]="restrictions"
                    [p-url]="urlUploadProofOfAddress"
                    (p-success)="success($event, true)"
                ></po-upload>
            </div>
        </div>
    </po-step>
</po-stepper>