<po-page-default
    p-title="Indicações"
    [p-breadcrumb]="breadcrumb"
    class="breadcrumb"
>
    <div class="po-container container">
        <div class="po-row card-indication">
            <div class="po-md-12">
                <h2 class="po-mb-1">Como Funciona</h2>
                <p>
                    Indique novos clientes a nossa plataforma, e caso ele se
                    torne nosso cliente você e ele ganham 50% de desconto na
                    próxima mensalidade!
                </p>
                <div class="po-row po-mt-3">
                    <div class="po-md-2">
                        <a
                            href="https://api.whatsapp.com/send?phone=5517991663337&text=Ol%C3%A1%2C%20gostaria%20de%20indicar%20uma%20nova%20empresa%20!"
                            rel="noreferrer noopener"
                            target="_blank"
                        >
                            <po-button
                                class="indication-button"
                                p-label="Indicar"
                                p-type="primary"
                                p-icon="po-icon po-icon-user-add"
                            ></po-button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</po-page-default>
