.container {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.card-indication {
    background-color: #ffffff;
    padding: 50px 30px;
    border-radius: 10px;
}

