<po-page-default
    p-title="Painel de Controle"
    [helpText]="helpText"
    appHelpPopOver
>
    <app-disclaimer
        disclaimerTextSuccess="Sucesso"
        disclaimerTextWarning="Erro"
    ></app-disclaimer>
    <div class="po-row po-mt-2">
        <div class="po-md-6 po-pl-0">
            <app-dashboard-accordion
                [isPending]="true"
                title="Contabilidade"
                text="Olá esse é o acordion"
            >
            </app-dashboard-accordion>
        </div>
        <div class="po-md-6 po-pr-0">
            <app-dashboard-accordion
                [isPending]="false"
                title="Extratos"
                text="Olá esse é o acordion"
            >
            </app-dashboard-accordion>
        </div>
    </div>
</po-page-default>