<po-page-default p-title="">
    <app-head-text [helpText]="helpText">Painel de Controle</app-head-text>

    <div class="po-row">
        <div class="po-md-6">
            <app-dashboard-accordion
                [isPending]='true'
                title='Contabilidade'
                text='Olá esse é o acordion'
            >
            </app-dashboard-accordion>
        </div>
        <div class="po-md-6">
            <app-dashboard-accordion
                [isPending]='false'
                title='Extratos'
                text='Olá esse é o acordion'
            >
            </app-dashboard-accordion>
        </div>
    </div>

    <app-disclaimer
        disclaimerTextSuccess="Sucesso"
        disclaimerTextWarning="Erro"
        *ngIf(!destroy)
    ></app-disclaimer>

</po-page-default>