<po-page-default p-title="Minha Empresa">
    <po-container>
        <form
            *ngIf="formCompany"
            [formGroup]="formCompany"
        >
            <div class="po-row po-mb-4">
                <div class="po-md-12">
                    <h3 class="po-mb-4">Empresa</h3>
                </div>
                <div class="po-md-12">
                    <po-input
                        p-label="CNPJ"
                        formControlName="cnpj"
                    >
                    </po-input>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-12">
                    <po-input
                        p-label="Razão Social"
                        formControlName="socialReason"
                    ></po-input>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-12">
                    <po-input
                        p-label="Nome Fantasia"
                        formControlName="fantasyName"
                    ></po-input>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-12">
                    <po-radio-group
                        formControlName="type"
                        name="radioGroupBasic"
                        p-label="Tipo da Empresa"
                        [p-options]="[
                            { label: 'Option 1', value: '1' },
                            { label: 'Option 2', value: '2' },
                            { label: 'Option 3', value: '3' }
                        ]"
                    >
                    </po-radio-group>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-4">
                    <po-input
                        p-label="Ramo"
                        formControlName="lineOfBusiness"
                    ></po-input>
                </div>
                <div class="po-md-8">
                    <po-input
                        p-label="CNAE"
                        formControlName="cnae"
                    ></po-input>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-12"></div>
                <h3>Endereço</h3>
            </div>
            <div formGroupName="address">
                <div class="po-row po-mb-4">
                    <div class="po-md-3">
                        <po-input
                            p-label="CEP"
                            formControlName="zipcode"
                        ></po-input>
                    </div>
                </div>
                <div class="po-row po-mb-4">
                    <div class="po-md-12">
                        <po-input
                            p-label="Endereço"
                            formControlName="street"
                        ></po-input>
                    </div>
                </div>
                <div class="po-row po-mb-4">
                    <div class="po-md-3">
                        <po-input
                            p-label="Número"
                            formControlName="number"
                        ></po-input>
                    </div>

                    <div class="po-md-9">
                        <po-input
                            p-label="Complemento"
                            formControlName="complement"
                        ></po-input>
                    </div>
                </div>

                <div class="po-row po-mb-4">
                    <div class="po-md-4">
                        <po-input
                            p-label="Bairro"
                            formControlName="neighborhood"
                        ></po-input>
                    </div>
                    <div
                        class="po-md-8"
                        formGroupName="city"
                    >
                        <div class="po-md-6">
                            <po-input
                                p-label="Cidade"
                                formControlName="name"
                            ></po-input>
                        </div>
                        <div class="po-md-6">
                            <po-input
                                p-label="Estado"
                                formControlName="stateProvince"
                            ></po-input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-12">
                    <h3>Contato da Empresa</h3>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-4">
                    <po-input
                        p-label="E-mail"
                        formControlName="email"
                    ></po-input>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-4">
                    <po-input
                        p-label="Telefone"
                        formControlName="phone"
                    ></po-input>
                </div>
            </div>
        </form>
    </po-container>
</po-page-default>