<po-page-default
    p-title="Minha Empresa"
    [p-actions]="actions"
    [p-breadcrumb]="breadcrumb"
    class="breadcrumb"
>
    <po-container class="form">
        <form *ngIf="formCompany" [formGroup]="formCompany">
            <div class="po-row po-mb-4">
                <ng-template [ngIf]="userCompanyExist === false">
                    <div class="po-md-12">
                        <h2 class="po-mb-3 danger">
                            Clique no botão editar, para finalizar o cadastro
                        </h2>
                    </div></ng-template
                >
                <div class="po-md-12">
                    <h3 class="po-mb-4">Empresa</h3>
                </div>
                <div class="po-md-12">
                    <po-input
                        p-label="CNPJ"
                        formControlName="cnpj"
                        p-readonly="true"
                        p-placeholder="Informar Cnpj"
                    >
                    </po-input>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-12">
                    <po-input
                        p-label="Razão Social"
                        formControlName="socialReason"
                        p-readonly="true"
                        p-placeholder="Informar Razão Social"
                    ></po-input>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-12">
                    <po-input
                        p-label="Nome Fantasia"
                        formControlName="fantasyName"
                        p-readonly="true"
                        p-placeholder="Informar Nome Fantasia"
                    ></po-input>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-12">
                    <po-radio-group
                        formControlName="type"
                        name="radioGroupBasic"
                        p-label="Tipo da Empresa"
                        p-columns="3"
                        p-disabled
                        [p-options]="[
                            {
                                label: 'Prestadora de Serviço',
                                value: 'SERVICE'
                            },
                            { label: 'Comércio', value: 'COMMERCE' },
                            { label: 'Industria', value: 'INDUSTRY' }
                        ]"
                    >
                    </po-radio-group>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-4">
                    <po-input
                        p-label="Ramo"
                        formControlName="lineOfBusiness"
                        p-readonly="true"
                        p-placeholder="Informar Ramo"
                    ></po-input>
                </div>
                <div class="po-md-8">
                    <po-input
                        p-label="CNAE"
                        formControlName="cnae"
                        p-placeholder="Informar CNAE"
                        p-readonly="true"
                    ></po-input>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-12"></div>
                <h3>Endereço</h3>
            </div>
            <div formGroupName="address">
                <div class="po-row po-mb-4">
                    <div class="po-md-3">
                        <po-input
                            p-label="CEP"
                            formControlName="zipcode"
                            p-readonly="true"
                            p-placeholder="Informar CEP"
                        ></po-input>
                    </div>
                </div>
                <div class="po-row po-mb-4">
                    <div class="po-md-12">
                        <po-input
                            p-label="Endereço"
                            formControlName="street"
                            p-readonly="true"
                            p-placeholder="Informar Rua"
                        ></po-input>
                    </div>
                </div>
                <div class="po-row po-mb-4">
                    <div class="po-md-3">
                        <po-input
                            p-label="Número"
                            formControlName="number"
                            p-readonly="true"
                            p-placeholder="Informar Número"
                        ></po-input>
                    </div>

                    <div class="po-md-9">
                        <po-input
                            p-label="Complemento"
                            formControlName="complement"
                            p-readonly="true"
                            p-placeholder="Informar Complemento"
                        ></po-input>
                    </div>
                </div>

                <div class="po-row po-mb-4">
                    <div class="po-md-4">
                        <po-input
                            p-label="Bairro"
                            formControlName="neighborhood"
                            p-readonly="true"
                            p-placeholder="Informar Bairro"
                        ></po-input>
                    </div>
                    <div class="po-md-8" formGroupName="city">
                        <div class="po-md-6">
                            <po-input
                                p-label="Cidade"
                                formControlName="name"
                                p-readonly="true"
                                p-placeholder="Informar Cidade"
                            ></po-input>
                        </div>
                        <div class="po-md-6">
                            <po-input
                                p-label="Estado"
                                formControlName="stateProvince"
                                p-readonly="true"
                                p-placeholder="Informar Estado"
                            ></po-input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-12">
                    <h3>Contato da Empresa</h3>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-4">
                    <po-input
                        p-label="E-mail"
                        formControlName="email"
                        p-readonly="true"
                        p-placeholder="Informar E-mail"
                    ></po-input>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-4">
                    <po-input
                        p-label="Telefone"
                        formControlName="phone"
                        p-readonly="true"
                        p-placeholder="Informar Telefone"
                    ></po-input>
                </div>
            </div>
        </form>
    </po-container>
</po-page-default>
