<po-page-default
    p-title="Novo Cliente"
    [p-breadcrumb]="breadcrumb"
    class="breadcrumb"
>
    <po-container>
        <form [formGroup]="formClient">
            <div class="po-row po-mb-4">
                <div class="po-md-12">
                    <h2>Dados Básicos</h2>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-6">
                    <po-input
                        p-label="Nome"
                        formControlName="name"
                        p-clean="true"
                        p-placeholder="Digite seu nome"
                    ></po-input>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-3">
                    <po-input
                        p-label="CPF ou CNPJ"
                        formControlName="document"
                        p-clean="true"
                        p-placeholder="Digite um documento"
                    ></po-input>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-12">
                    <h2>Incrições Municipal e Estadual</h2>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-6">
                    <po-input
                        p-label="Inscrição Municipal (IM)"
                        formControlName="municipalInscription"
                        p-clean="true"
                        p-placeholder="Digite o documento"
                    ></po-input>
                </div>
                <div class="po-md-6 po-mb-4">
                    <po-input
                        p-label="Inscrição Estadual (IE)"
                        formControlName="stateInscription"
                        p-clean="true"
                        p-placeholder="Digite o documento"
                    ></po-input>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-12">
                    <h2>Endereço</h2>
                </div>
            </div>
            <div formGroupName="address">
                <div class="po-row po-mb-4">
                    <div class="po-md-2">
                        <po-input
                            p-label="CEP"
                            formControlName="zipcode"
                            p-placeholder="00000-000"
                            p-clean="true"
                        ></po-input>
                    </div>
                </div>
                <div class="po-row po-mb-4">
                    <div class="po-md-12">
                        <po-input
                            p-label="Endereço"
                            formControlName="street"
                            p-clean="true"
                            p-placeholder="Rua..."
                        ></po-input>
                    </div>
                </div>
                <div class="po-row po-mb-4">
                    <div class="po-md-4">
                        <po-input
                            p-label="Número"
                            formControlName="number"
                            p-clean="true"
                            p-placeholder="0000"
                        ></po-input>
                    </div>
                    <div class="po-md-8 po-mb-4">
                        <po-input
                            p-label="Complemento"
                            formControlName="complement"
                            p-clean="true"
                            p-placeholder="Complemento..."
                        ></po-input>
                    </div>
                </div>
                <div class="po-row po-mb-4">
                    <div class="po-md-4">
                        <po-input
                            p-label="Bairro"
                            formControlName="neighborhood"
                            p-clean="true"
                            p-placeholder="Bairro..."
                        ></po-input>
                    </div>
                    <div class="po-md-8 po-p-0" formGroupName="city">
                        <div class="po-md-6">
                            <po-input
                                p-label="Cidade"
                                formControlName="name"
                                p-clean="true"
                                p-placeholder="Cidade..."
                            ></po-input>
                        </div>
                        <div class="po-md-6">
                            <po-select
                                p-label="Estado"
                                formControlName="stateProvince"
                                [p-options]="options"
                            ></po-select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="po-row po-mb-4">
                <div class="po-md-12">
                    <h2>Contato</h2>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-5">
                    <po-email
                        p-label="E-mail"
                        formControlName="email"
                        p-clean="true"
                        p-placeholder="Email..."
                    ></po-email>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-4">
                    <po-input
                        p-label="Telefone"
                        formControlName="phone"
                        p-mask="(99)99999?-9999"
                        p-clean="true"
                        p-placeholder="(00) 0000-0000"
                    ></po-input>
                </div>
            </div>
            <div class="po-row po-mb-4">
                <div class="po-md-6">
                    <po-input
                        p-label="Nome pra Contato"
                        formControlName="contactName"
                        p-clean="true"
                        p-placeholder="Digite um nome"
                    ></po-input>
                </div>
            </div>
            <div class="po-row">
                <div class="po-md-3">
                    <po-button
                        p-type="primary"
                        p-label="Salvar"
                        (p-click)="submitForm()"
                        [p-disabled]="formClient.invalid"
                    ></po-button>
                </div>
            </div>
        </form>
    </po-container>
</po-page-default>
