/* You can add global styles to this file, and also import other style files */

$colorPrimary: #206a5d;
$colorSecondary: #81b315;
$colorTertiary: #15b3a1;
$colorLight: #fafaf4;
$colorLight2: #f1f1e9;

$colorDanger: #6a2020;
$colorWarning: #b3ad15;
$colorCancel: #ef6008;
$colorText: #4b4b4b;
$colorBgImage: #f1f1e9;
$colorPendente: #6a2020;
$colorAnalise: #b3ad15;
$colorCancelado: #ef6009;

:root {
    --color-primary-light-95: #{lighten($colorPrimary, 65%)};
    --color-primary-light-80: #{lighten($colorPrimary, 50%)};
    --color-primary-alpha-50: #{rgba($colorPrimary, 0.5)};
    --color-primary: #{$colorPrimary};
    --color-primary-dark-20: #{darken($colorPrimary, 5%)};
    --color-primary-dark-40: #{darken($colorPrimary, 10%)};

    --color-secondary: #{$colorSecondary};
    --color-secondary-dark-20: #{darken($colorSecondary, 5%)};
    --color-secondary-dark-40: #{darken($colorSecondary, 10%)};
    --color-secondary-dark-60-alpha-70: #{rgba($colorSecondary, 0.7)};
    --color-secondary-dark-60: #{darken($colorSecondary, 15%)};

    --color-tertiary-light-90: #{lighten($colorTertiary, 65%)};
    --color-tertiary: #{$colorTertiary};
    --color-tertiary-dark-5: #{darken($colorTertiary, 5%)};
    --color-tertiary-dark-40: #{darken($colorTertiary, 10%)};
    --color-tertiary-dark-60: #{darken($colorTertiary, 15%)};

    --color-danger: #{$colorDanger};
    --color-warning: #{$colorWarning};
    --color-cancel: #{$colorCancel};
    --color-backgorund: #{$colorLight};
    --color-card: #{$colorLight2};
    --color-bgImage: #{$colorBgImage};
    --color-text: #{$colorText};

    --color-analise: #{$colorAnalise};
    --color-pendente: #{$colorPendente};
    --color-cancelado: #{$colorCancelado};

    // Menu
    --color-menu-color-menu-sub-item-text: #{lighten($colorPrimary, 10%)};
    --color-menu-border-color-menu-item-selected: #{$colorPrimary};
    --color-menu-background-color-menu-responsive-overlay: #{rgba(
            $colorPrimary,
            0.5
        )};

    // button primary
    --color-button-color-primary: var(--color-white);
    --color-button-color-primary-hover: var(--color-white);
    --color-button-color-primary-pressed: var(--color-white);

    // filters badge
    --color-disclaimer-color-text: var(--color-white);

    // datepicker
    --color-calendar-color-box-foreground-selected: var(--color-white);
}

@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto-Light.woff) format("woff"),
        url(assets/fonts/Roboto-Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto-Medium.woff) format("woff"),
        url(assets/fonts/Roboto-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto-Bold.woff) format("woff"),
        url(assets/fonts/Roboto-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
}

body,
.po-page {
    font-family: "Roboto";
    background: var(--color-backgorund);
}

.loading-bar .po-progress-bar {
    height: 4px !important;
}

.po-slide-outer,
.po-slide-wrapper {
    border-radius: 0;
}

.custom-toolbar {
    .po-toolbar {
        box-shadow: 0px 1px 24px -12px rgba(0, 0, 0, 0.75);
        margin-left: 0;
        width: 100%;
        padding-left: 50px;

        span.po-icon.po-icon-lock.po-popup-icon-item {
            color: var(--color-primary) !important;
            stroke: var(--color-primary) !important;
        }

        span.po-icon.po-icon-user.po-popup-icon-item {
            color: var(--color-primary) !important;
            stroke: var(--color-primary) !important;
        }

        span.po-icon.po-icon-desktop.po-popup-icon-item {
            color: var(--color-primary) !important;
            stroke: var(--color-primary) !important;
        }

        span.po-icon.po-icon-exit.po-popup-icon-item {
            color: var(--color-primary) !important;
            stroke: var(--color-primary) !important;
        }

        span.po-icon.po-icon-device-desktop.po-popup-icon-item {
            color: var(--color-primary) !important;
            stroke: var(--color-primary) !important;
        }
    }

    .po-menu-mobile {
        z-index: 3;
    }
}

.ng-touched.ng-invalid {
    input,
    textarea,
    .textarea,
    .po-select-button {
        border-color: red !important; /* red */
    }
    .ng-valid input,
    .ng-valid textarea {
        border-color: unset !important;
    }
}

.po-toolbar {
    background-color: var(--color-primary);
    .po-avatar {
        box-shadow: none;
        border: solid 1px #fff;
    }
    .po-icon {
        color: #fff !important;
        stroke: #fff;
    }
}

.po-menu-header-container-logo {
    background-color: var(--color-primary);
}

// popover component classes
.po-popover {
    max-width: 25rem;
    height: fit-content;
    min-height: 0;
    font-weight: medium;
}

// disclaimer component classes
.disclaimer-container {
    border-radius: 8px;
    margin-top: 1.25rem;
    .po-container {
        padding: 1.375rem;
    }
}

// acordion component classes
.pending {
    .po-container {
        background: url("/assets/images/warning.svg");
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: 16px 16px;
        background-size: 20px;
        border-left: 10px solid var(--color-danger) !important;
        .po-accordion-item-header {
            padding-left: 28px;
            .po-accordion-item-header-title {
                color: var(--color-danger) !important;
            }
        }
    }
}

.done {
    .po-container {
        background: url("/assets/images/check.svg");
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: 16px 19px;
        background-size: 20px;
        border-left: 10px solid var(--color-primary) !important;
        .po-accordion-item-header {
            padding-left: 28px;
            .po-accordion-item-header-title {
                color: var(--color-primary);
            }
        }
    }
}

//page-datable
.po-container {
    background: #fff;
}

//Page header form template
.po-page-header-title {
    color: var(--color-primary);
    font-size: 2.3rem;
    font-family: "roboto";
    font-weight: bold;
    position: relative;
    &:after {
        font-family: PoIcon !important;
        content: "\e90b";
        position: absolute;
        right: -2rem;
        font-size: 1.5rem;
        font-weight: lighter;
        color: var(--color-secondary);
    }
}

.company-detail-dashboard {
    .po-container {
        background-color: var(--color-backgorund);
        border: none;
        box-shadow: none;
    }
}

.company-detail-menu {
    .po-menu-item-wrapper:first-child {
        background-color: var(--color-secondary) !important;
        .po-menu-item {
            color: white;
            text-transform: uppercase;
        }
    }
}

// h2 of forms
h2 {
    color: var(--color-primary);
    font-size: 1.5rem;
    font-family: "roboto";
    font-weight: bold;
}

.users {
    .po-icon {
        font-weight: bold;
        font-size: 32px;
    }
}

// INICIO list pages header
// .po-page-list-actions {
//     .po-button {
//         display: block;
//         margin-top: -54px;
//         margin-left: auto;
//     }
// }

// .po-page-list-actions {
//     text-align: right;
// }

// .po-page-list-filter-wrapper {
//     float: unset;
//     margin-top: 32px;
//     .po-page-filter-content {
//         width: calc(100% - 80px);
//     }
// }

// .po-page-content {
//     padding-top: 0 !important;
// }

// .input-style {
//     .po-field-container-content {
//         padding: 8px 0 0 0 !important;
//     }
// }

// .table-no-button {
//     .po-page-filter-content {
//         margin-top: 50px !important;
//     }

//     .po-page-header-title {
//         width: fit-content !important;
//     }
// }
// FIM list pages header

.div-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    text-align: center;
    background-color: #f1f1e9;
    border-radius: 10px;
    margin-top: 32px;
    margin-bottom: 40px;
    color: var(--color-primary);
}

.icon-upload {
    font-size: 50px;
    margin-bottom: 20px;
}

po-number.ng-invalid.ng-dirty .po-input {
    color: var(--color-danger) !important;
    border: 1px solid var(--color-danger) !important;
}

po-input.ng-invalid.ng-dirty .po-input {
    color: var(--color-danger) !important;
    border: 1px solid var(--color-danger) !important;
}

po-datepicker.ng-invalid.ng-dirty .po-input {
    color: var(--color-danger) !important;
    border: 1px solid var(--color-danger) !important;
}

.po-radio-group-input:disabled + .po-radio-group-label:before {
    color: #ffffff;
}

.po-radio-group-input-checked + .po-radio-group-label:before {
    background-color: var(--color-primary) !important;
}

// remove search bar do componente page-datable quando hasSearch é false
.noSearchBar {
    .po-page-list-filter-wrapper {
        display: none !important;
    }
}

.breadcrumb {
    .po-breadcrumb {
        margin: -15px -15px 20px -15px;
    }
}

.text-modal {
    h1 {
        font-size: 1.5rem;
        margin-bottom: 1.125rem;
        color: var(--color-text);
        font-weight: 700;
    }

    h2,
    h3 {
        color: var(--color-text);
        font-size: 1.125rem;
        font-weight: 700;
        span {
            font-size: 0.75rem;
            font-weight: 300;
            display: block;
        }
    }
}

.img-modal {
    width: 100%;
    height: 100%;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bgImage);

    img {
        max-width: 255px;
        overflow: auto;
    }
}

.po-accordion.po-container.po-container-no-padding {
    background-color: #ffffff !important;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
