<app-page-datatable
    [serviceApi]="serviceApi"
    [tableActions]="tableActions"
    [columns]="columns"
    title="Minhas Despesas"
    [pageActions]="actions"
    [breadcrumb]="breadcrumb"
    class="breadcrumb"
></app-page-datatable>

<po-modal #modalDespesa p-title="Despesa" [p-primary-action]="primaryAction">
    <div class="po-row">
        <div class="po-md-6">
            <ng-template [ngIf]="ehPdf">
                <div class="div-pdf">
                    <img src="/assets/images/imgPdf.png" alt="Pdf" />
                    <po-button
                        (p-click)="downloadPdf()"
                        p-icon="po-icon po-icon-download"
                        p-label="Download PDF"
                    ></po-button>
                </div>
            </ng-template>
            <ng-template [ngIf]="!ehPdf">
                <div class="img-modal">
                    <img [src]="imagemDespesa" alt="Extrato Bancário" />
                </div>
            </ng-template>
        </div>
        <div class="po-md-6">
            <div class="po-row text-modal">
                <div class="po-md-12 po-mb-2">
                    <h1>{{ tituloDespesa }}</h1>
                </div>
                <div class="po-md-12 po-mb-2">
                    <h2>
                        <span>Empresa</span>
                        {{ nomeEmpresa }}
                    </h2>
                </div>
                <div class="po-md-12 po-mb-2">
                    <h3>
                        <span>Tipo</span>
                        {{ tipoDespesa }}
                    </h3>
                </div>
                <div class="po-md-12 po-mb-2">
                    <h3>
                        <span>Data</span>
                        {{ dataDespesa }}
                    </h3>
                </div>
                <div class="po-md-12 po-mb-2">
                    <h3>
                        <span>Valor</span>
                        R$ {{ valorDespesa }}
                    </h3>
                </div>
            </div>
        </div>
    </div>
</po-modal>
