<app-page-datatable
    [serviceApi]="serviceApi"
    [tableActions]="tableActions"
    [columns]="columns"
    title="Minhas Despesas"
    [pageActions]="actions"
    [breadcrumb]="breadcrumb"
    class="breadcrumb page-with-action"
    appHelpPopOver
    helpText="Mensalmente são necessários o cadastro de despesas o qual é necessário o preenchimento aqui"
></app-page-datatable>

<po-modal
    #modalDespesa
    p-title="Despesa"
    [p-primary-action]="primaryAction"
>
    <div
        class="po-row"
        *ngIf="modalExpense"
    >
        <div class="po-md-6">
            <div class="img-modal">
                <ng-container *ngIf="!ehPdf ; elseBlock">
                    <img
                        [src]="modalExpense.proofOfPaymentUrl"
                        alt="Despesa"
                    />
                </ng-container>
                <po-button
                    (p-click)="download(modalExpense.proofOfPaymentUr)"
                    p-icon="po-icon po-icon-download"
                ></po-button>
            </div>
        </div>
        <div class="po-md-6">
            <div class="po-row text-modal">
                <div class="po-md-12 po-mb-2">
                    <h1>{{ modalExpense.description }}</h1>
                </div>
                <div class="po-md-12 po-mb-2">
                    <h2>
                        <span>Empresa</span>
                        {{ this.nomeEmpresa }}
                    </h2>
                </div>
                <div class="po-md-12 po-mb-2">
                    <h3>
                        <span>Tipo</span>
                        {{ modalExpense['type.label']}}
                    </h3>
                </div>
                <div class="po-md-12 po-mb-2">
                    <h3>
                        <span>Data</span>
                        {{ modalExpense.date | date: "dd/MM/yy" }}
                    </h3>
                </div>
                <div class="po-md-12 po-mb-2">
                    <h3>
                        <span>Valor</span>
                        {{ modalExpense.value | currency: "BRL" }}
                    </h3>
                </div>
            </div>
        </div>
    </div>
</po-modal>

<ng-template #elseBlock>
    <img
        src="/assets/images/imgPdf.png"
        alt="Pdf"
    />
</ng-template>