<po-page-default
    p-title="Emitir Nota"
    [p-breadcrumb]="breadcrumb"
    class="breadcrumb"
>
    <po-stepper #stepper>
        <po-step p-label="Selecionar Cliente">
            <po-container>
                <div class="po-row">
                    <div class="po-md-12">
                        <h2 class="po-mb-2">Escolha um Cliente</h2>
                        <po-button
                            p-label="Novo Cliente"
                            p-icon="po-icon-plus"
                            p-type="primary"
                            (p-click)="newClient()"
                        ></po-button>
                        <po-table
                            [p-items]="itemsStepOne"
                            [p-columns]="columnsStepOne"
                            [p-actions]="actionStepOne"
                        ></po-table>
                    </div>
                </div>
            </po-container>
        </po-step>
        <po-step p-label="Selecionar Produto">
            <po-container>
                <div class="po-row">
                    <div class="po-md-12">
                        <h2 class="po-mb-4">Adicione Produtos</h2>
                        <div class="po-mb-4">
                            <po-button
                                class=""
                                p-label="Adicionar Produto"
                                p-type="primary"
                                (p-click)="prepareModal()"
                            ></po-button>
                        </div>
                        <po-table
                            [p-columns]="columnsStepTwo"
                            [p-actions]="actionsStepTwo"
                            [p-items]="itemsStepTwo"
                        ></po-table>
                    </div>
                </div>
                <div class="po-row po-mb-5">
                    <div class="po-md-12">
                        <hr />
                        <p>Total: R${{ total }}</p>
                        <span></span>
                    </div>
                </div>
                <div class="po-row">
                    <div class="po-md-12">
                        <po-button
                            p-label="Próximo"
                            p-type="primary"
                            (p-click)="nextForm()"
                            [p-disabled]="disabledStepTwo"
                        ></po-button>
                    </div>
                </div>
            </po-container>
        </po-step>
        <po-step p-label="Solicitar Nota">
            <po-container>
                <div class="po-row">
                    <div class="po-md-12">
                        <h2 class="po-mb-3">Cliente</h2>
                        <po-table
                            [p-items]="itemsStepThree"
                            [p-columns]="itemsStepThree"
                        ></po-table>
                    </div>
                </div>
                <div class="po-row">
                    <div class="po-md-12">
                        <h2 class="po-mb-3 po-mt-3">Produto</h2>
                        <po-table
                            [p-columns]="columnsStepTwo"
                            [p-items]="itemsStepTwo"
                        ></po-table>
                    </div>
                </div>
                <div class="po-row po-mb-5">
                    <div class="po-md-12">
                        <hr />
                        <p>Total: R${{ total }}</p>
                        <span></span>
                    </div>
                </div>
                <div class="po-row">
                    <div class="po-md-1">
                        <po-button p-label="Cancelar"></po-button>
                    </div>
                    <div class="po-md-1">
                        <po-button
                            p-label="Solicitar Nota"
                            p-type="primary"
                            (p-click)="submitInvoice()"
                            [p-disabled]="disabledButtonSubmitInvoice"
                            [p-loading]="loading"
                        ></po-button>
                    </div>
                </div>
            </po-container>
        </po-step>
    </po-stepper>
</po-page-default>

<po-modal
    #modalProduct
    p-title="Novo Produto"
    [p-primary-action]="primaryAction"
>
    <form [formGroup]="formProduct">
        <div class="po-row po-mb-2">
            <div class="po-md-12">
                <po-input
                    p-auto-focus="true"
                    p-label="Descrição do Produto"
                    formControlName="title"
                    p-clean="true"
                    p-required="true"
                    (p-blur)="dirtyMe('title')"
                    p-error-pattern="Nome Inválido"
                ></po-input>
                <app-invalid-feedback
                    [formCtrl]="formProduct.get('title')"
                    [hasError]="
                        formProduct.get('title').errors?.required &&
                        formProduct.get('title').dirty
                    "
                >
                    Este campo é obrigatório
                </app-invalid-feedback>
            </div>
        </div>
        <div class="po-row po-mb-2">
            <div class="po-md-6">
                <po-number
                    p-label="Quantidade"
                    formControlName="quantity"
                    p-clean="true"
                    p-required="true"
                    (p-blur)="dirtyMe('quantity')"
                ></po-number>
                <app-invalid-feedback
                    [formCtrl]="formProduct.get('quantity')"
                    [hasError]="
                        formProduct.get('quantity').errors?.required &&
                        formProduct.get('quantity').dirty
                    "
                >
                    Este campo é obrigatório
                </app-invalid-feedback>
            </div>
            <div class="po-md-6">
                <po-number
                    p-label="Valor Unitário"
                    formControlName="amount"
                    p-clean="true"
                    p-required="true"
                    (p-blur)="dirtyMe('amount')"
                ></po-number>
                <app-invalid-feedback
                    [formCtrl]="formProduct.get('amount')"
                    [hasError]="
                        formProduct.get('amount').errors?.required &&
                        formProduct.get('amount').dirty
                    "
                >
                    Este campo é obrigatório
                </app-invalid-feedback>
            </div>
        </div>
        <div class="por-row po-mb-2">
            <div class="po-md-4">
                <po-number
                    p-readonly="true"
                    p-label="Total"
                    formControlName="total"
                ></po-number>
            </div>
        </div>
    </form>
</po-modal>
