<po-page-default
    p-title="Emitir Nota"
    [p-breadcrumb]="breadcrumb"
    class="breadcrumb"
>
    <po-stepper #stepper>
        <po-step
            p-label="Selecionar Cliente"
            [p-can-active-next-step]="canAcessStepTwo.bind(this)"
        >
            <po-container class="margin-top">
                <div class="po-row po-mb-2 align-items-center">
                    <div class="po-md-6">
                        <h2 class="">Escolha um Cliente</h2>
                    </div>
                    <div class="po-md-6 po-align-button">
                        <po-button
                            p-label="Novo Cliente"
                            p-icon="po-icon-plus"
                            p-type="primary"
                            (p-click)="newClient()"
                        ></po-button>
                    </div>
                </div>

                <div class="po-row">
                    <div class="po-md-12 table-selectable-row">
                        <po-table
                            [p-items]="itemsStepOne"
                            [p-columns]="columnsStepOne"
                            [p-actions]="actionStepOne"
                            p-selectable="true"
                            p-single-select="true"
                            p-hide-select-all="true"
                            p-striped="true"
                            (p-selected)="selecionaCliente($event)"
                        ></po-table>
                    </div>
                </div>
            </po-container>
        </po-step>

        <po-step
            p-label="Selecionar Produto"
            [p-can-active-next-step]="canAcessStepThree.bind(this)"
        >
            <po-container class="margin-top">
                <div class="po-row po-mb-2 align-items-center">
                    <div class="po-md-6">
                        <h2>Adicione Produtos</h2>
                    </div>
                    <div class="po-md-6 po-align-button">
                        <po-button
                            p-label="Adicionar Produto"
                            p-type="primary"
                            p-icon="po-icon-plus"
                            (p-click)="prepareModal()"
                        ></po-button>
                    </div>
                </div>
                <div class="po-row">
                    <div class="po-md-12">
                        <po-table
                            [p-columns]="columnsStepTwo"
                            [p-actions]="actionsStepTwo"
                            [p-items]="itemsStepTwo"
                        ></po-table>
                    </div>
                </div>
                <div class="po-row po-mb-5">
                    <div class="po-md-12">
                        <hr />
                        <p>Total: {{ total | currency: "BRL" }}</p>
                        <span></span>
                    </div>
                </div>
                <div class="po-row">
                    <div class="po-md-12">
                        <po-button
                            p-label="Próximo"
                            p-type="primary"
                            (p-click)="nextForm()"
                            [p-disabled]="!changeToStep3"
                        ></po-button>
                    </div>
                </div>
            </po-container>
        </po-step>

        <po-step p-label="Solicitar Nota">
            <po-container class="margin-top">
                <div class="po-row">
                    <div class="po-md-12">
                        <h2 class="po-mt-2 po-mb-1">Cliente</h2>
                        <po-table
                            [p-items]="itemsStepThree"
                            [p-columns]="itemsStepThree"
                        ></po-table>
                    </div>
                </div>
                <div class="po-row">
                    <div class="po-md-12">
                        <h2 class="po-mb-1 po-mt-3">Produto</h2>
                        <po-table
                            [p-columns]="columnsStepTwo"
                            [p-items]="itemsStepTwo"
                        ></po-table>
                    </div>
                </div>
                <div class="po-row po-mb-5">
                    <div class="po-md-12">
                        <hr />
                        <p>Total: {{ total | currency: "BRL" }}</p>
                        <span></span>
                    </div>
                </div>
                <div class="po-row">
                    <div>
                        <po-button
                            p-label="Cancelar"
                            p-type="secondary"
                            (p-click)="cancelInvoice()"
                        >
                        </po-button>
                    </div>
                    <div class="po-ml-3">
                        <po-button
                            p-label="Solicitar Nota"
                            p-type="primary"
                            (p-click)="submitInvoice()"
                            [p-disabled]="disabledButtonSubmitInvoice"
                            [p-loading]="loading"
                        ></po-button>
                    </div>

                </div>
            </po-container>
        </po-step>
    </po-stepper>
</po-page-default>

<po-modal
    #modalProduct
    p-title="Novo Produto"
    [p-primary-action]="primaryAction"
>
    <form [formGroup]="formProduct">
        <div class="po-row po-mb-2">
            <div class="po-md-12">
                <po-input
                    p-auto-focus="true"
                    p-label="Descrição do Produto"
                    formControlName="title"
                    p-clean="true"
                    p-placeholder="Produto ..."
                    p-required="true"
                    (p-blur)="dirtyMe('title')"
                    p-error-pattern="Nome Inválido"
                ></po-input>
                <app-invalid-feedback
                    [formCtrl]="formProduct.get('title')"
                    [hasError]="
                        formProduct.get('title').errors?.required &&
                        formProduct.get('title').dirty
                    "
                >
                    Este campo é obrigatório
                </app-invalid-feedback>
            </div>
        </div>
        <div class="po-row po-mb-2">
            <div class="po-md-6">
                <po-number
                    p-label="Quantidade"
                    formControlName="quantity"
                    p-placeholder="000"
                    p-clean="true"
                    p-required="true"
                    (p-blur)="dirtyMe('quantity')"
                ></po-number>
                <app-invalid-feedback
                    [formCtrl]="formProduct.get('quantity')"
                    [hasError]="
                        formProduct.get('quantity').errors?.required &&
                        formProduct.get('quantity').dirty
                    "
                >
                    Este campo é obrigatório
                </app-invalid-feedback>
            </div>
            <div class="po-md-6">
                <po-number
                    p-label="Valor Unitário (R$)"
                    formControlName="amount"
                    p-clean="true"
                    p-placeholder="R$ 00,00"
                    p-required="true"
                    (p-blur)="dirtyMe('amount')"
                ></po-number>
                <app-invalid-feedback
                    [formCtrl]="formProduct.get('amount')"
                    [hasError]="
                        formProduct.get('amount').errors?.required &&
                        formProduct.get('amount').dirty
                    "
                >
                    Este campo é obrigatório
                </app-invalid-feedback>
            </div>
        </div>
        <div class="por-row po-mb-2">
            <div class="po-md-4">
                <po-input
                    p-readonly="true"
                    p-label="Total"
                    p-placeholder="R$ 0000,00"
                    formControlName="total"
                ></po-input>
            </div>
        </div>
    </form>
</po-modal>