<po-page-detail
p-title = "Anúncio"
[p-breadcrumb]="breadcrumb"
(p-back)="back()"
>
    <po-divider></po-divider>
    <div class="container">
        <app-product-ad [product]="product" [storeName]="product.storeName" [storePhoto]="product.storeUserPhotoSm"></app-product-ad>
        <div class="po-row po-mt-4">
            <div class="po-sm-6">
                <div class="total-sales">
                    <h2>{{product.soldAmount}}<span>Vendas</span></h2>
                </div>
            </div>
            <div class="po-sm-6">
                <div class="total-receipt">
                    <h2>{{(product.soldAmount * product.finalPrice) | currency}}<span>Valor Bruto</span></h2>
                </div>
            </div>
        </div>
    </div> 

</po-page-detail>