<po-page-default p-title="Serviços Disponíveis">
    <div class="po-container">


        <div class="po-row title-row po-mb-1">
            <div class="po-md-9">
                <h6>Serviços</h6>
            </div>
            <div class=" po-md-2 centralize">
                <h6>Prazo</h6>
            </div>
            <div class="po-md-1 centralize">
                <h6>Preço</h6>
            </div>
        </div>


        <div class="bg">
            <app-card-service title="Teste"
                              description="Solicitação de segunda via do contrato social. Enviamos o arquivo digital, caso exista a
                            necessidade do envio físico, enviamos por Sedex (valor não incluso no serviço, cobrado a parte)."
                              deadline="30 dias"
                              price="R$50,00"
            >

            </app-card-service>
        </div>

        <app-card-service title="Teste"
                          description="Solicitação de segunda via do contrato social. Enviamos o arquivo digital, caso exista a
                            necessidade do envio físico, enviamos por Sedex (valor não incluso no serviço, cobrado a parte)."
                          deadline="30 dias"
                          price="R$50,00"

        >

        </app-card-service>

        <div class="bg">
            <app-card-service title="Teste"
                              description="Solicitação de segunda via do contrato social. Enviamos o arquivo digital, caso exista a
                            necessidade do envio físico, enviamos por Sedex (valor não incluso no serviço, cobrado a parte)."
                              deadline="30 dias"
                              price="R$50,00"
            >

            </app-card-service>
        </div>


        <app-card-service title="Teste"
                          description="Solicitação de segunda via do contrato social. Enviamos o arquivo digital, caso exista a
                             necessidade do envio físico, enviamos por Sedex (valor não incluso no serviço, cobrado a parte)."
                          deadline="30 dias"
                          price="R$50,00"

        >

        </app-card-service>

        <div class="bg">
            <app-card-service title="Teste"
                              description="Solicitação de segunda via do contrato social. Enviamos o arquivo digital, caso exista a
                            necessidade do envio físico, enviamos por Sedex (valor não incluso no serviço, cobrado a parte)."
                              deadline="30 dias"
                              price="R$50,00"
            >

            </app-card-service>
        </div>


        <div class="po-row service-card ">
            <div class="po-md-10">
                <div class="div-text">
                    <h2>Outros Serviços</h2>
                    <p>Precisa de um serviço customizado?! Entre em contato para fazer um orçamento.</p>
                </div>
            </div>
            <div class="po-md-2 centralize">
                <button class="extra-services">Solicitar orçamento</button>
            </div>
        </div>


    </div>
</po-page-default>

