<po-page-detail
    [p-title]="title"
    [p-breadcrumb]="breadcrumb"
    (p-back)="back()"
    (p-edit)="edit()"
>
    <div class="user-details">
        <app-avatar-edit
            size="xl"
            [src]="user.userPhoto?.lg"
            [urlEditProfilePhoto]="urlEditProfilePhoto"
            [success]="onUpdateProfilePhoto.bind(this)"
            [deleteUserPhoto]="deleteUserPhoto.bind(this)"
        ></app-avatar-edit>

        <div>
            <po-info p-label="Nome" [p-value]="user.name" p-orientation="horizontal"></po-info>
            <po-info p-label="E-mail" [p-value]="user.email" p-orientation="horizontal"></po-info>

            <ng-container *ngIf="user.userExtraData">
                <po-info
                    [p-label]="user.userExtraData.personType === 'PF' ? 'CPF' : 'CNPJ'"
                    [p-value]="user.userExtraData.document"
                    p-orientation="horizontal">
                </po-info>
                <po-info
                    p-label="Celular"
                    [p-value]="user.userExtraData.phone"
                    p-orientation="horizontal"
                ></po-info>
            </ng-container>

            <ng-container *ngIf="user.store">
                <po-info p-label="Razão Social"
                         [p-value]="user.store.socialReason"
                         p-orientation="horizontal"
                ></po-info>
                <po-info p-label="Categoria"
                         [p-value]="user.store.storeCategory.name"
                         p-orientation="horizontal"
                ></po-info>
                <po-info p-label="Horários de funcionamento"
                         [p-value]="user.store.openingHours"
                         p-orientation="horizontal"
                ></po-info>
            </ng-container>

            <po-info
                *ngIf="user.address"
                p-label="Endereço"
                [p-value]="addressToString()"
                p-orientation="horizontal"
            ></po-info>
        </div>
    </div>
</po-page-detail>
