.page-title {
    color: var(--color-primary);
    font-size: 2.3rem;
    font-family: "roboto";
    font-weight: bold;
}

.icon-title {
    margin-left: 16px;
    font-size: 24px;
    color: var(--color-secondary)
}
