<po-page-edit
    p-title="Nova Conta Bancária"
    [p-breadcrumb]="breadcrumb"
    class="breadcrumb"
>
    <po-container>
        <form [formGroup]="formNewBankAccount">
            <div class="po-row">
                <div class="po-md-6 po-mb-3 po-mt-2">
                    <po-select
                        formControlName="bankId"
                        p-label="Banco"
                        [p-options]="options"
                    >
                    </po-select>
                    <app-invalid-feedback
                        [formCtrl]="formNewBankAccount.get('bankId')"
                        [hasError]="
                            formNewBankAccount.get('bankId').errors?.required &&
                            formNewBankAccount.get('bankId').dirty
                        "
                    >
                        Este campo é obrigatório
                    </app-invalid-feedback>
                </div>
            </div>
            <div class="po-row">
                <div class="po-md-4 po-mb-3">
                    <po-select
                        formControlName="accountType"
                        p-label="Tipo de Conta"
                        [p-options]="[
                            { label: 'Conta Corrente', value: 'CORRENTE' },
                            { label: 'Conta Poupança', value: 'POUPANÇA' }
                        ]"
                    >
                    </po-select>
                    <app-invalid-feedback
                        [formCtrl]="formNewBankAccount.get('accountType')"
                        [hasError]="
                            formNewBankAccount.get('accountType').errors
                                ?.required &&
                            formNewBankAccount.get('accountType').dirty
                        "
                    >
                        Este campo é obrigatório
                    </app-invalid-feedback>
                </div>
            </div>
            <div class="po-row">
                <div class="po-md-6 po-mb-3">
                    <po-number
                        formControlName="agency"
                        p-label="Agência (sem digito)"
                        p-maxlength="4"
                        (p-blur)="dirtyMe('agency')"
                        p-placeholder="0000"
                        p-clean
                    >
                    </po-number>
                    <app-invalid-feedback
                        [formCtrl]="formNewBankAccount.get('agency')"
                        [hasError]="
                            formNewBankAccount.get('agency').errors?.required &&
                            formNewBankAccount.get('agency').dirty
                        "
                    >
                        Este campo é obrigatório
                    </app-invalid-feedback>
                </div>

                <div class="po-md-6 po-mb-3">
                    <po-number
                        formControlName="accountNumber"
                        p-label="Conta"
                        (p-blur)="dirtyMe('accountNumber')"
                        p-placeholder="00000000-0"
                        p-clean
                    >
                    </po-number>
                    <app-invalid-feedback
                        [formCtrl]="formNewBankAccount.get('accountNumber')"
                        [hasError]="
                            formNewBankAccount.get('accountNumber').errors
                                ?.required &&
                            formNewBankAccount.get('accountNumber').dirty
                        "
                    >
                        Este campo é obrigatório
                    </app-invalid-feedback>
                </div>
            </div>
            <div class="po-md-12 po-mb-2">
                <po-button
                    [p-disabled]="formNewBankAccount.invalid"
                    p-type="primary"
                    (p-click)="SubmitBank()"
                    p-label="Cadastrar Banco"
                    [p-loading]="loading"
                >
                </po-button>
            </div>
        </form>
    </po-container>
</po-page-edit>
