<po-avatar p-size="xl" [p-src]="src" (p-click)="editAvatarModal.open()"></po-avatar>

<po-modal #editAvatarModal p-title="Editar foto de perfil" p-size="sm">
    <div class="avatar-center">
        <po-avatar p-size="xl" [p-src]="src"></po-avatar>
        <po-button
            *ngIf="deleteUserPhoto"
            p-type="danger"
            p-label="Remover avatar"
            (p-click)="deleteUserPhoto()"
        ></po-button>
    </div>
    <po-upload
        name="upload"
        p-label="Atualizar avatar"
        p-drag-drop
        [p-auto-upload]="true"
        [p-drag-drop-height]="200"
        [p-restrictions]="restrictions"
        [p-url]="urlEditProfilePhoto"
        (p-success)="success($event)"
    ></po-upload>
</po-modal>
