<po-page-default p-title="Sócios">
    <div class="po-container">
        <div class="po-row">
            <div class="po-md-12 po-mb-4">
                <po-input p-label="Nome"></po-input>
            </div>
            <div class="po-md-4 po-mb-4">
                <po-input p-label="RG"></po-input>
            </div>
            <div class="po-md-4 po-mb-4">
                <po-input p-label="CPF"></po-input>
            </div>
            <div class="po-md-4 po-mb-4">
                <po-input p-label="Titulo de Eleitor"></po-input>
            </div>
            <div class="po-md-4 po-mb-4">
                <po-input p-label="Participação na sociedade (em %)"></po-input>
            </div>
        </div>
        <div class="po-row po-mb-4">
            <div class="po-md-5 list">
                <p>
                    Para concluir o cadastro é necessário anexar os seguintes
                    documentos:
                </p>
                <ul>
                    <li>- Rg</li>
                    <li>- CPF</li>
                    <li>- Titulo de Eleitor</li>
                    <li>- Comprovante de Residência</li>
                </ul>
            </div>
        </div>
        <div class="po-row po-mb-4">
            <div class="po-md-12">
                <div class="div-upload">
                    <span class="po-icon po-icon-upload icon-upload"></span>
                    <p>Solte aqui os <strong>Documentos</strong></p>
                    <p>Ou clique aqui para pesquisar</p>
                </div>
            </div>
        </div>
        <div class="po-row">
            <div class="po-md-3">
                <po-button p-label="Concluir" p-type="primary"></po-button>
            </div>
        </div>
    </div>
</po-page-default>
